body {
    font-family: Arial, sans-serif;
    color: #E7D8C5;
    background: url('../assets/mountain.jpg') no-repeat 50% 0;
}

h1 {
    margin: 30px;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0px 10px 15px #111;
}

span {
    position: absolute;
    top: 270px;
/*    left: 80px;*/
	left:35%;
    font-size: 20px;
}