.spot {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* TASK 4. Напоследок измените у <code>.spot</code> распределение по главной оси на
                                                <code>flex-end</code>  и убедитесь, что ничего не изменилось. */
}

.skate {
    margin: 10px; /* TASK 1. Задайте скейтбордам <code>.skate</code> внешние отступы со всех сторон <code>10px</code> */
    min-width: 40px;
    min-height: 100px;
}

.skate-2 {
    margin-left: auto; /* Task 2. Затем задайте <code>margin-left: auto;</code> второму скейту, */
}

.skate-4 {
    margin-right: auto; /* Task 3. а потом <code>margin-right: auto;</code> четвёртому скейту. */
}
