[class^="arrow"] {
    display: inline-block;
    margin: 30px;
    width: 0;
    height: 0;
}

.arrow-bottom {
    border: 100px solid #ffffff;
    border-top-color:#0074d9;
    border-bottom-width:0;
    border-right-color:transparent;
    border-left-color:transparent;
}

.arrow-left {
    border: 100px solid #ffffff;
    border-right-color:#0074d9;
    border-left-width:0;
    border-top-color:transparent;
    border-bottom-color:transparent;
}