html, body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    color: #333;
    width: 570px;
}

main {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;   
    display: block;
}

.shield {
    width: 90%;
    height: 90%;
    background: #FFF;
    margin: 0 auto;
    top: 5%;
    position: relative;
    box-shadow: 0 2px 3px #ccc;
}

.shield, .shield:after, .shield:before {
    border-radius: 50%;
}

.shield:before {
    background: #0039a6;
    width: 75%;
    height: 75%;
}

.shield:after {
    background: #d52b1e;
    width: 50%;
    height: 50%;
}

.shield:after, .shield:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.shield-logo {
    position: relative;
    width: 82px;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-41px, -20px)
}

.shield-logo:before, .shield-logo:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 10px solid #fff;
    border-radius: 50% 50% 0;
    transform: rotate(-45deg);
}

.shield-logo:after {
    left: auto;
    right: 0;
    border-radius: 50% 50% 50% 0;
    transform: rotate(45deg);
}