.simple-gray {
    color: #333;
    background-image: linear-gradient(#FFFFFF, #DDDDDD);
}

.strong-brown {
    color: #fff;
    background-image: linear-gradient(#CC0630 0%, #8F0222 75%, #6D0019 100%);
}

.glossy-blue {
    color: #fff;
    background-image: none;
}

.button {
    display: inline-block;
    margin: 20px;
    padding: 20px 50px;
    font-size: 24px;
    font-family: "Lucida Grande", Arial, sans-serif;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    box-shadow:
        inset 0 0 0 1px rgba(0, 0, 0, .2),
        0 1px 3px #aaa;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
}

html, body {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    text-align: center;
}