html, body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Open Sans', sans-serif;    
    background: #f5f5f5;
}
 
section {
    width: 450px;
    margin: 40px auto;   
    background: white;
    box-shadow: 0 0 3px #ccc;
}

h1 {
    padding: 10px 0;
    margin: 0;
    font-size: 28px;
    font-weight: normal;
    text-align: center;
}

.slider {
    position: relative;
}

.slider-slides img {
    width: 450px;
    height: 320px;    
    
    float:left;
}

.slider-slides {
    width:300%;
}

.slider-inner {
    overflow:hidden;
}