.portrait {
    box-sizing: border-box;
    margin: 50px auto 0;
    padding: 10px;
    width: 270px;
    height: 270px;
    outline: 10px solid white;
    border: 50px solid rgba(0, 0, 0, 0.4);
    border-image-source: url("../assets/img/border-img.png");
    border-image-slice: 50;
    border-image-repeat: repeat;
    
    /*border-image-width:80px;*/
    /*border-image-width:20px 40px;*/
    border-image-width:10px 25px 40px auto;
    
    background: url("../assets/img/border-img.png") no-repeat #ffffff;
    background-clip: padding-box;
    background-origin: content-box;
}