/* 
    <base href="https://htmlacademy.ru/assets/courses/96/">
*/

body {
    margin: 0;
    font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif
}

.house, .subtle {
    background-image: url(img/pattern.png)
}

.subtle {
    padding: 10px
}

.house {
    padding-top: 50px;
    perspective: 1000px;
    transform-style: preserve-3d
}

.room {
    position: relative;
    margin: 0 auto 50px;
    padding: 10px;
    width: 450px;
    height: 350px;
    background-image: url(img/wood.png);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .28);
    counter-reset: number;
    transform: rotateX(10deg)
}

.axis-container {
    position: absolute;
    top: auto;
    left: auto;
    z-index: 10;
    transform: rotateX(10deg) translateZ(20px)
}

.axis-cross, .axis-main {
    position: absolute;
    top: -15px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 25px)
}

.axis-main::before {
    position: absolute
}

.axis-main::after {
    position: absolute;
    content: ""
}

.axis-cross::before, .rug span {
    position: absolute
}

.axis-cross::after {
    position: absolute;
    content: ""
}

.axis-main {
    border-color: #29265f;
    color: #29265f
}

.axis-main::before {
    border-color: rgba(41, 38, 95, .5);
    content: "главная"
}

.axis-cross {
    border-color: #52904c;
    color: #52904c
}

.axis-cross::before {
    border-color: rgba(82, 144, 76, .5);
    content: "поперечная"
}

.axis-cross::before, .axis-main::before {
    text-indent: 5px
}

[class*=axis-main-row]::before {
    top: 50%;
    transform: translateY(-50%)
}

[class*=axis-main-row]::after {
    top: 50%
}

[class*=axis-cross-column]::before {
    top: 50%;
    transform: translateY(-50%)
}

[class*=axis-cross-column]::after {
    top: 50%
}

[class*=axis-cross-column]::before, [class*=axis-main-row]::before {
    left: 0;
    width: 100%;
    height: 1px;
    border-width: 2px;
    border-top-style: dashed
}

[class*=axis-cross-column]::after, [class*=axis-main-row]::after {
    border-width: 5px 18px;
    border-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
    transform: translateY(-5.5px)
}

.axis-main-row::after, [class*=axis-cross-column]::after {
    right: -10px;
    border-right: 0
}

.axis-main-row-reverse::after {
    left: -10px;
    border-left: 0
}

[class*=axis-main-column]::before {
    left: 50%;
    border-color: inherit;
    transform: translateX(-50%)
}

[class*=axis-main-column]::after {
    left: 50%;
    border-color: inherit
}

[class*=axis-cross-row]::before {
    left: 50%;
    border-color: inherit;
    transform: translateX(-50%)
}

[class*=axis-cross-row]::after {
    left: 50%;
    border-color: inherit
}

[class*=axis-cross-row]::before, [class*=axis-main-column]::before {
    top: 0;
    width: 1px;
    height: 100%;
    border-width: 2px;
    border-left-style: dashed
}

[class*=axis-cross-row]::after, [class*=axis-main-column]::after {
    border-width: 18px 5px;
    border-style: solid;
    border-right-color: transparent;
    border-left-color: transparent;
    transform: translateX(-5.5px)
}

.axis-main-column::after, [class*=axis-cross-row]::after {
    bottom: -15px;
    border-bottom: 0
}

.axis-main-column-reverse::after {
    top: -15px;
    border-top: 0
}

.rug {
    position: relative;
    z-index: 1;
    margin: 10px;
    min-width: 80px;
    min-height: 80px;
    border: 5px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    background-image: none, url(img/pt-subtle_white_feathers.png);
    background-position: center;
    background-size: contain, auto;
    background-repeat: no-repeat, repeat;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .28);
    counter-increment: number
}

.rug::after, .sort-list li::before {
    position: absolute;
    padding: .3em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .19);
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 1em
}

.rug::after {
    bottom: 2px;
    left: 2px;
    content: counter(number)
}

.rug span {
    bottom: 0;
    left: 50%;
    color: #c0a98c;
    transform: translate(-50%, 30px)
}

[class*=text-] p {
    margin: 0;
    padding: 0 10px;
    text-align: center
}

.text-rudolf {
    font-size: 15px
}

.text-keks {
    font-size: 30px
}

.text-simeon {
    font-size: 45px
}

.rudolf {
    background-image: url(img/cat-rudolf.png), url(img/pt-subtle_white_feathers.png)
}

.marty {
    background-image: url(img/cat-marty.png), url(img/pt-subtle_white_feathers.png)
}

.simeon {
    background-image: url(img/cat-simeon.png), url(img/pt-subtle_white_feathers.png)
}

.blacky {
    background-image: url(img/cat-blacky.png), url(img/pt-subtle_white_feathers.png)
}

.massimo {
    background-image: url(img/cat-massimo.png), url(img/pt-subtle_white_feathers.png)
}

.felix {
    background-image: url(img/cat-felix.png), url(img/pt-subtle_white_feathers.png)
}

.keks {
    background-image: url(img/cat-keks.png), url(img/pt-subtle_white_feathers.png)
}

.logo {
    margin: 10px;
    text-align: center
}

.logo img {
    width: 200px
}

header {
    margin: 0 auto
}

.menu, .sort-list {
    margin: 10px auto;
    background-color: #32425c;
    box-shadow: 0 5px 0 0 #293449;
    list-style: none
}

.sort-list {
    margin: 10px 0;
    padding: 0;
    width: 50%;
    counter-reset: list-number
}

.menu div, .sort-list li {
    margin: 1px
}

.menu a, .sort-list a {
    display: block;
    padding: 15px 10px;
    background-color: rgba(255, 255, 255, .1);
    color: #fff;
    text-decoration: none;
    font-size: 16px
}

.menu a:hover, .sort-list a:hover {
    background-color: #293449;
    color: #f5f5f5
}

.menu .logo {
    margin: 10px;
    filter: invert(1) grayscale(1) brightness(1.3)
}

.sort-list li {
    position: relative;
    counter-increment: list-number
}

.sort-list li::before {
    top: 50%;
    left: 10px;
    content: counter(list-number);
    transform: translateY(-50%)
}

.sort-list a {
    padding-left: 40px
}

.post {
    padding: 20px
}

.post section {
    padding: 0 15px;
    border-left: 1px solid
}

.post h1 {
    margin: 0 0 10px
}

.post p {
    margin: 10px 0
}

.post aside {
    min-width: 40px
}

.soc-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #618ad2;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0
}

.soc-icon-fb {
    background-image: url(img/icon-facebook.svg)
}

.soc-icon-tw {
    background-image: url(img/icon-twitter.svg)
}

.soc-icon-yo {
    background-image: url(img/icon-youtube.svg)
}

.item {
    position: relative;
    margin: 10px auto;
    padding: 10px;
    width: 350px;
    height: 350px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3)
}

.item h1 {
    margin-top: 5px;
    color: #525252;
    font-weight: 400
}

.pictures {
    margin: 0 -10px;
    min-height: 240px;
    background-color: #f5f5f5;
    font-size: 0
}

.picture {
    padding: 10px;
    border: 2px solid #ccc;
    background-color: #fff
}

.picture img {
    width: 80px
}

.controls, .exam {
    text-align: center
}

.controls {
    margin-top: 20px
}

.controls a {
    display: inline-block;
    padding: 7px 20px;
    background-color: #618ad2;
    color: #fff;
    text-decoration: none
}

.todos section {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3)
}

.todos h1 {
    margin: 10px 5px
}

.todos h2 {
    margin-top: 0;
    font-size: 18px
}

.exam {
    margin: 0;
    padding: 0;
    width: 550px;
    height: 310px;
    background-image: url(img/pt-subtle_white_mini_waves.png)
}

.palette {
    top: 10px;
    margin: 0 auto;
    width: 295px;
    height: 295px
}

.palette, .palette-small {
    position: relative;
    box-sizing: border-box;
    padding: 5px;
    border: 5px solid #f5f5f5;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, .2)
}

.palette-box {
    display: inline-block;
    vertical-align: top
}

.palette-box:nth-child(even) {
    margin: 0
}

.palette [class^=color], .palette-small [class^=color] {
    position: relative;
    margin: 4px;
    border-radius: 50px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .3)
}

.palette [class^=color] {
    min-width: 35px;
    min-height: 35px
}

.palette-small {
    top: 5px;
    margin: 0 70px 5px 0;
    width: 145px;
    height: 145px
}

.palette-small [class^=color] {
    min-width: 20px;
    min-height: 20px
}

.color-1 {
    background-color: #001f3f
}

.color-2 {
    background-color: #7fdbff
}

.color-3 {
    background-color: #3d9970
}

.color-4 {
    background-color: #ffdc00
}

.color-5 {
    background-color: #85144b
}

.color-6 {
    background-color: #f012be
}

.color-7 {
    background-color: #b10dc9
}