/* Испытание: простая палитра Итак, первое испытание.
Вам нужно с помощью флексбокса разложить цвета на палитре в точности как на образце.
Используйте свойства, изученные в первой части главы: display: flex, flex-direction, justify-content, align-items и align-self. */

.test {
    margin: 10px;
}

.palette-1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    /*align-items: */
}

.palette-1 .color-2 {
    align-self: flex-end;
}

.palette-1 .color-3 {
    align-self: stretch;
}

.palette-1 .color-4 {
    align-self: start;
}

.palette-1 .color-6 {
    align-self: center;
}

.palette-2 {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.palette-2 .color-1 {
    align-self: flex-start;
    order: 7;
}

.palette-2 .color-3 {
    order: 6;
}

.palette-2 .color-5 {
    order: 5;
}

/* THE FINAL TEST */
.palette-box:nth-child(1) .palette-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    /*background: pink;*/
  }
  .palette-box:nth-child(1) .palette-small .color-3, 
  .palette-box:nth-child(1) .palette-small .color-4 {
    align-self: center;
  }
  .palette-box:nth-child(1) .palette-small .color-2 { order: 3; }
  .palette-box:nth-child(1) .palette-small .color-4 { order: 4; }
  
  .palette-box:nth-child(2) .palette-small {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: start;
    /*background: pink;*/
  }
  .palette-box:nth-child(2) .palette-small .color-2, 
  .palette-box:nth-child(2) .palette-small .color-6 {
    align-self: flex-end;
  }
  
  .palette-box:nth-child(3) .palette-small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .palette-box:nth-child(3) .palette-small .part {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .palette-box:nth-child(4) .palette-small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .palette-box:nth-child(4) .palette-small .part:nth-child(2) {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .palette-box:nth-child(4) .palette-small .part:nth-child(1) {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  