body{
    font-family:Tahoma, sans-serif;
    font-size:18px;
    background:#E67E22 url("../assets/img1.jpg") no-repeat 30% 0;
}
.btn{
    width:150px;
    padding:15px 20px;
    margin:60px auto;
    text-align:center;
    text-transform:uppercase;
    cursor:pointer;
    color:white;
    background:#2c3e50;
}
.btn1{
    /*-moz-box-shadow:0 0 0 15px #27ae60;*/
    /*-webkit-box-shadow:0 0 0 15px #27ae60;*/
    /*box-shadow:0 0 0 15px #27ae60;*/
    -moz-box-shadow:0 0 0 15px rgba(39, 174, 96, 0.5);
    -webkit-box-shadow:0 0 0 15px rgba(39, 174, 96, 0.5);
    box-shadow:0 0 0 15px rgba(39, 174, 96, 0.5);
}
.btn2{
    /*-moz-box-shadow:0 0 0 15px #e74c3c;*/
    /*-webkit-box-shadow:0 0 0 15px #e74c3c;*/
    /*box-shadow:0 0 0 15px #e74c3c;*/
    -moz-box-shadow:0 0 0 15px rgba(231, 76, 60, 0.5);
    -webkit-box-shadow:0 0 0 15px rgba(231, 76, 60, 0.5);
    box-shadow:0 0 0 15px rgba(231, 76, 60, 0.5);
}
