.palette div {
    min-width: 35px;
    min-height: 35px;
    /*margin-bottom: 5px;*/
    /*margin-top: 5px;*/
}
.palette {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* align-items: flex-start; */ /* не работает, т.к. в html-коде !important */
    /* default - align-items:stretch  */
}
.color-olive {
    /*margin-left: auto;*/
    /* align-self:flex-start; */ /* не работает, т.к. в html-коде !important */
    margin-top: 63px;
    margin-bottom: 62px;
    margin-right: 5px;
    margin-left: 31px;
}
.color-yellow {
    /* align-self:flex-start; */ /* не работает, т.к. в html-коде important */
    margin-top: 170px;
    margin-bottom: 5px;
    margin-right: 32px;
    margin-left: 5px;
}
.color-fuchsia {
    /* align-self:flex-start; */ /* не работает, т.к. в html-коде important */
    margin-top: 5px;
    margin-bottom: 170px;
    margin-right: 5px;
    margin-left: 5px;
}
.color-aqua {
    /* align-self:flex-start; */ /* не работает, т.к. в html-коде important */
    flex-basis:50px; /* Определяет размер элемента по умолчанию, до распределения оставшегося пространства. default: auto (по контенту) */
    margin-top: 63px;
    margin-bottom: 62px;
    margin-right: 5px;
    margin-left: 5px;
}
