body{
    font-family:Tahoma, sans-serif;
    font-size:18px;
    background:black;
}
.btn{
    width:150px;
    padding:15px 20px;
    margin:100px auto;
    text-align:center;
    text-transform:uppercase;
    cursor:pointer;
    color:white;
    background:#34495e;
}