html, body{
    margin:0;
    padding:0;
}
body{
/*    width:450px;
    height:335px;
*/
    font-family:'Arial', sans-serif;
    font-size:10px;
    color:white;
}
/*
    Используемые цвета:
    #34495e - мокрый асфальт
    #c0392b - красный
    #3498DB - синий
*/
.header{
    background:#34495e;
}
.header-block{
    /*float:left;*/
    min-height:25px;
    padding:5px;
    background:#c0392b;
}
.menu{
    background:#3498DB;
}
.menu-block{
    margin-top:-5px;
    min-height:20px;
    padding-left:5px;
    padding-right:5px;
}
.promo{
    background:#34495e;
}
.promo-1{
    float:left;
    width:160px;
    min-height:50px;
    margin-right:10px;
    padding:5px;
    background:#c0392b;
}
.promo-2{
    float:left;
    width:160px;
    min-height:50px;
    padding:5px;
    background:#c0392b;
}
.content{
}
.content-left{
    float:left;
    width:60px;
    min-height:100px;
    margin-right:10px;
    padding:5px;
    background:#3498DB;
}
.content-main{
    float:left;
    width:180px;
    min-height:100px;
    margin-right:10px;
    padding:5px;
    background:#3498DB;
}
.content-right{
    float:left;
    width:60px;
    min-height:100px;
    padding:5px;
    background:#3498DB;
}
.footer{
    background:#34495e;
}
.footer-block{
    min-height:20px;
    margin-top:-5px;
    padding-left:5px;
    padding-right:5px;
}
.layout-positioner{
    width:350px;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
    padding-bottom:10px;
    /*padding-left:auto;*/
    /*padding-right:auto;*/
}
.layout-positioner:after{
    content:'';
    clear:both;
    display:table;
}
.clearfix{
    content:'';
    clear:both;
    display:table;
}