.label-box {
    position: relative;
    width: 270px;
}

.label-box::before,
.label-box::after {
    content: '';
    position: absolute;
    height: 2px;

    /*width: 50%;*/
    width: 0;

    bottom: 1px;
    background-color: #757575;

    transition: width 0.2s;
}

.label-box::before {
    left: 50%;
}

.label-box::after {
    right: 50%;
}

input:focus ~ .label-box::before,
input:focus ~ .label-box::after {
    width: 50%;
}

input {
    width: 270px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #757575;
}

label {
    position: absolute;
    top: -36px;
    font-size: 18px;
    pointer-events: none;
    color: #757575;
    transition: 0.2s ease all;
}

input:focus ~ .label-box label,
input:valid ~ .label-box label {
    font-size: 14px;
    transform: translateY(-20px);
}