body{
    /*font-size:12px;*/
    /*line-height:16px;*/
    font-size:16px;
    line-height:1.3;
	/* width:400px; */
}
h1{
    /*font-size:16px;*/
    /*margin-top:12px;*/
    font-size:1.3em;
    margin-top:0.7em;
}
p{
    /*margin-top:6px;*/
    /*margin-bottom:6px;*/
    margin-top:0.5em;
    margin-bottom:0.5em;
}