/*
    Цвета смайликов: #F4C300, #009F3D, #0085C7, #DF0024
    Цвета текста: rgba(255, 0, 180, 0.5), rgba(0, 168, 255, 0.5)
*/

html, 
body {
    min-width: 570px;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #000;
}

p {
    margin: 0;
    padding-top: 230px;
    text-align: center;
    font-weight: bold;
    
    text-transform:uppercase;
    font-size:65px;
    letter-spacing:-5px;
    word-spacing:5px;
    color:rgba(0, 168, 255, 0.5);
    text-shadow:
        5px 5px 0px rgba(255, 0, 180, 0.5);
}

span {
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -0.5em;
    font-size: 200px;
    line-height: 1em;
    
    text-shadow:
        -70px 80px 0px #F4C300,
        70px 80px 0px #009F3D,
        -140px 0px 0px #0085C7,
        140px 0px 0px #DF0024;
}