/* 
Пути к изображениям

../assets/img/rope-frame.png
../assets/img/keks-2.jpg
../assets/img/eye-patch.svg

*/

/* мой вариант */
/*
.exam{padding-top:150px;}
.portrait { 
    width:175px;
    height:175px;
    margin:00px auto;
    padding:0px;
    background:
        url('../assets/img/eye-patch.svg') no-repeat 35px 35px,
        url('../assets/img/keks-2.jpg') no-repeat center;
    background-size:80px, cover;
    background-origin:border-box;
    /*background-size:80px, contain;*/
    /*background-clip:border-box;*/
/*    
    border:50px solid transparent;
    border-image:url('../assets/img/rope-frame.png');
    border-image-slice:90 fill;
    border-image-outset:50px;
    border-radius:50%;
}*/


/* Роман Лонский  */

.portrait {
	margin: 0 auto;
	height: 275px;
	width: 275px;
	background-image:
		url('../assets/img/eye-patch.svg'),
		url('../assets/img/keks-2.jpg');
	background-repeat: no-repeat;
	border-radius: 50%;
	background-size: 80px, cover;
	background-position: 35px 35px, center;
	border: 50px solid transparent;
	background-clip: content-box;
	border-radius: 50%;
	border-image-source: url('../assets/img/rope-frame.png');
	border-image-slice: 90 fill;
}



/* Максим Максименко */
/*
.portrait {
	width:180px;
	height:180px;
	top:50px;
	margin:auto;
	padding:20px;
	border-radius:50%;
	background-image:
		url("img/eye-patch.svg"),
		url("img/keks-2.jpg");
	background-size:45%,cover;
	background-repeat: no-repeat;
	background-position: top 35px left 28px,100%;
	border-image-source: url("img/rope-frame.png");
	border-image-slice: 5 fill;
	border-image-outset: 50px;
}
*/