body{
    font-family:Arial, sans-serif;
    font-size:14px;
    line-height:1.4;
    padding:10px;
}
.main-menu{
    width:150px;
    padding:10px 15px;
    margin:0;
    list-style:none;
    border:1px solid #E5E5E5;    
    background:#f5f5f5;
}
/* обратите внимание на селектор */
/* все селекторы для меню предваряются классом меню */
.main-menu li{
    margin-bottom:8px;
}
.main-menu a{
    color:#0088CC;
}