html, body {
    min-width: 400px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    text-align: center;
    background: #f5f5f5;
}

.breadcrumbs {
    display: inline-block;
    margin: 150px 0;
    counter-reset: flag;
    color: black;
    box-shadow: 0 0 2px #aaa;
}

.breadcrumbs a {
    position: relative;
    float: left;
    padding-left: 60px;
    padding-right: 10px;
    text-decoration: none;
    line-height: 36px;
    color: black;
    background: white;
    transition: all 0.5s;
    outline: 1px dotted #3498db;
}

.breadcrumbs a::after {
    content:'';
    position:absolute;
    width:36px;
    height:36px;
    background-color:red;
    z-index:1;
    top:0;
    right:-18px;
}