
@keyframes rotate {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg);
    }
}


.wood-wheel {
    animation-name: rotate;
    animation-duration: 2s;
}