html, body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    font-family: "Arial Narrow", Arial, sans-serif;
}

.buttons {
    width: 400px;
    margin: 50px auto;    
    padding: 10px 20px;
    background: white;
    text-align: center;
    box-shadow: 0 0 3px #ccc;
}

button {
    position: relative;
    width: 300px;
    height: 60px;
    margin: 20px auto;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    border: none;    
    outline: none;
    cursor: pointer;
    overflow: hidden;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    transition: transform 0.4s ease-in-out;
}

button:active {
    top: 1px;
    box-shadow: none;
}

.icon {
    position: absolute;
    left: 20px;
}

.btn-green {
    background: #1abc9c;
    border-bottom: 2px solid #12ab8d;
    box-shadow: inset 0 -2px #12ab8d;
}

.btn-green .icon {
    width: 24px;
    height: 24px;
    transition: all 0.4s ease-in-out;
}

.btn-green:hover .icon,
.btn-green.hover .icon {
    transform: rotate(360deg) scale(1.2);
}