.main-menu{
    width:180px;
    padding:0;
    margin:0;
    list-style:none;
}
.main-menu a{
    display:block;
    padding:8px 14px;
    margin-bottom:-1px;
    color:#0088CC;
    text-decoration:none;
    border:1px solid #E5E5E5;
}
.main-menu a:hover{
    background:#F5F5F5;
}
.main-menu .active a{
    color:white;
    background:#0088CC;
}
body{
    font-family:Arial, sans-serif;
    font-size:14px;
    line-height:1.4;
    padding:10px;
}