body {
    padding: 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #333;
    background: url('../assets/bokeh.jpg') no-repeat 50% 0;
}

article {
    padding: 20px;
    background: rgba(240, 240, 240, 0.85);

	margin:auto;
	max-width:900px;
}

p {
    margin: 0;
    line-height: 22px;
    
    text-indent:24px;
}