form {
    margin: 0 auto;
    padding: 20px;
    width: 300px; 
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
}
label {
    display: block;
    margin-bottom: 5px;
}
input,
textarea {
    margin-bottom:10px;
    padding: 2px 5px;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Roboto";
}
input {
    height: 24px;
}

input[type="submit"] { 
    display: inline-block;
    margin: 0 5px;
    padding: 6px 15px;
    width: auto;
    height: auto;
    border: none;
    border-radius: 5px;
    background: #2c3e50;
    color: #fff;
}
.half-width {
    display: inline-block;
    margin-right: -4px;
    width: 50%;
}

.half-width input, 
.half-width select {
    width: 80%;
}
.buttons {
    margin-top: 10px;
    text-align: center;
}