html,body{
    margin:0;
    padding:0;
}
body{
    font-size:16px;
    font-family:"Tahoma", sans-serif;
    line-height:20px;
    color:black;
    background:#eeeeee;
}
/* 
Адрес фоновой картинки слайда:
/assets/ifmo/slide-bg.png
Используемые цвета:
#666666
#ffffff
#fb565a
*/
.slider{
    display:table;
	margin:auto;
    padding:40px 20px 20px 20px;
    width:500px;
    height:300px;
}
.slider .main{
    float:left;
}
.left{
    float:left;
    width:260px;
}
.tittle{
    font-size:25px;
    line-height:25px;
    font-weight:bold;
}
.button{
    display:block;
    padding:10px;
    margin-top:25px;
    width:180px;
    color:white;
    font-size:15px;
    text-align:center;
    text-transform:uppercase;
    text-decoration:none;
    background:#fb565a;
    border-radius:5px;
}
.right{
    float:left;
}
.right img{
    margin-top:42px;
}
.switches{
    float:left;
    clear:both;
    display:block;
    /*display:inline-block;*/
    margin:29px auto 00px auto;
    /*background:#aaaaaa;*/
    width:100%;
    /*height:15px;*/
}
.switches .block{
    content:'';
    clear:both;
    display:table;
    /*display:inline-block;*/
    margin:0px auto;
    padding:0px;
    /*background:#ccc;*/
    padding-left:15px;
}
.switches .switch{
    position:relative;
    display:inline-block;
    padding:0px;
    margin:0px 5px;
    width:15px;
    height:15px;
    background:#666666;
    border-radius:10px;
}
.switches .switch .opened{
    position:absolute;
    display:inline-block;
    padding:0px;
    margin:0px 5px;
    width:5px;
    height:5px;
    top:5px;
    background:#fff;
    border-radius:10px;
}