.checklist {
    display: table;
}

.checklist ul {
    display: table-row;
}

.checklist li {
    display: table-cell;
}

.checklist h1 {
    display: table-caption;
}

.checklist header {
    display: table-header-group;
}

.checklist header li {
    border-color: #3D9970;
}

.checklist footer {
    display: table-footer-group;
}

.checklist footer li {
    border-color: #0074D9;
}

.checklist .content {
    display: table-row-group;
}

.checklist .content li {
    border-color: #FF851B;
}

.checklist .content-important li {
    border-color: #FF4136;
}

.column{
    display:table-column;
    background:url(../assets/img/wall-1.png);
}

.column-group {
    display: table-column-group;
}

.column-group .column{
    background-image: url(../assets/img/wall-2.png);
}