html,body{
    font-family:Arial, sans-serif;
    font-size:18px;
    background:white;
    padding:0;
    margin:0;
    width:300px;
    background:#ecf0f1;
}
.btn{
    position:relative;
    width:250px;
    padding:20px 0;
    margin:0 25px;
    margin-top:100px;
    line-height:20px;
    text-align:center;
    text-transform:uppercase;
    cursor:pointer;
    color:white;
    background:#2c3e50;
    box-shadow:
         0px -20px 0px -10px #c0392b,
         0px -40px 0px -20px #e74c3c,
         0px 20px 0px -10px #2980b9,
         0px 40px 0px -20px #3498db;    ;
}
.btn:after{
    position:absolute;
    top:0px;
    left:125px;
    width:250px;
    height:5px;
    content:'';
    box-shadow:
         -125px 0px 0px 0px #2ecc71,
        inset 125px 0px 0 0 #16a085;
}
.btn:before{
    position:absolute;
    top:55px;
    left:125px;
    width:250px;
    height:5px;
    content:'';
    box-shadow:
         -125px 0px 0px 0px #16a085,
        inset 125px 0px 0 0 #2ecc71;
}