.square {
    left: 0;
    transition-duration: 3s;
    transition-property: left, border-radius;
    transition-timing-function:cubic-bezier(0, 0, 1, 1);
}

.square-active {
    left: 75%;
    border-radius: 50%;
}

.square-experimental {
    background-color: #e74c3c;
    transition-timing-function:cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1);
}