.square {
    margin: 100px auto;
    width: 50px;
    height: 50px;
    background: #aaaaaa;
    
    border:#ffffff solid 100px;
    border-left:#0074d9 solid 100px; 
    border-right:#2ecc40 solid 100px;
    border-top:#ff4136 solid 100px; 
    border-bottom:#ffdc00 solid 100px;
    
    width:0px;
    height:0px;
}