.spot {
    display: flex;
    flex-direction: column; /* Task 3. После этого поменяйте направление главной оси
                <code>.spot</code> на <code>column</code>
                Смотрите, как ширина и высота меняются при повороте оси из-за заданного
                базового размера. */
    align-items: center;
    justify-content: center;
}

.racoon-orange {
    flex-basis: 100%; /* Task 2. Затем задайте ему же базовый размер <code>100%</code> */
    /* Task 1. Скейту Оранжевого Енота <code>.racoon-orange</code>
        задайте ширину <code>300px</code> и высоту <code>100px</code> */
    width: 300px;
    height: 100px;
}
