html, body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

.circle-menu {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 50px auto;   
    background: white;
    box-shadow: 0 0 3px #ccc;
}

.circle-menu ul {
    position: absolute;
    width: 300px;
    height: 300px;
    margin: 50px;
    padding: 0;
    list-style: none;
    /*box-shadow: 0 0 0 1px #3498db;*/

    border-radius:50%;
    overflow:hidden;
}

.circle-menu .center{
    position: absolute;
    top: 195px;
    left: 195px;
    z-index: 1000;
    border: 5px solid #34495e;
    border-radius: 50%;
    box-shadow: 0 0 3px #ccc;
}

.circle-menu li {
    position: absolute;
    top: -10px;
    left: -10px; 
    width: 160px;
    height: 160px;
    /*background: rgba(145, 145, 145, 0.1);*/
    /*box-shadow: inset 0 0 1px #ccc;*/
    transform-origin: 100% 100%;
     
    overflow:hidden;
}

.circle-menu li:nth-child(1) {
    transform: rotate(0deg) skew(30deg);
}

.circle-menu li:nth-child(2) {
     transform: rotate(60deg) skew(30deg);
}

.circle-menu li a{
    display: block;
    width: 160px;
    height: 160px;
    margin-top: 40px;
    margin-left: 40px;
    background: rgba(241, 196, 15, 0.5) url('../assets/icons/monitor-4x.png') no-repeat 50% 40%;
    transform: skew(-30deg) rotate(-60deg);
}