html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 505px;
    height: 260px;
    padding-top:30px;
    padding-left:15px;
}

.flag {
    float: left;
    width: 150px;
    height: 100px;
    margin-right: 15px;
    margin-bottom: 30px;
    border: 1px solid #aaa;
    background-color: #fff;
}

.ireland {
    /* цвета: #009B48, #FFF, #FF7900 */
    background-image:linear-gradient( to right, #009B48 33%, #FFF 33%,#FFF 66%, #FF7900 66%);
}

.trinidad {
    /* цвета: #CE1126, #FFF, #000, #CE1126 */
    background-image:linear-gradient( 45deg, #CE1126 40%, #FFF 40%, #FFF 43%, #000 43%, #000 57%, #fff 57%, #fff 60%, #CE1126 60%);
}

.congo {
    /* цвета: #009543, #FBDE4A, #DC241F */
    background-image:linear-gradient( 135deg, #009543 40%, #FBDE4A 40%,#FBDE4A 60%, #DC241F 60%);
}

.mauritius {
    /* цвета: #EA2839, #1A206D,  #FFD500, #00A551 */
    background-image:linear-gradient( 180deg, #EA2839 25%, #1A206D 25%, #1A206D 50%,  #FFD500 50%,  #FFD500 75%, #00A551 75%);
}

.botswana {
    /* цвета: #449ED3, #FFF, #000 */
    background-image:linear-gradient( 0deg, #449ED3 30%, #FFF 30%, #FFF 35%, #000 35%, #000 65%, #fff 65%, #fff 70%, #449ED3 70%);
}

.madagaskar {
    /* цвета: #FC3D32, #007E3A */
    background-image:linear-gradient( 180deg, #FC3D32 50%, #007E3A 50%);

    background-position: 50px 0;
    background-repeat: no-repeat;
}