.photos {
    position: relative;
}

.photo,
.photo-original {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.photo {
    z-index: 10;
    background-image: url("../assets/img/spb-1.jpg");
}

.photo-original {
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.5);
    width:50%;
    background-image: url("../assets/img/spb-1.jpg");
}

.walden {
    filter: 
        contrast(0.9) 
        brightness(1.2) 
        hue-rotate(-20deg) 
        saturate(1.7) 
        sepia(0.4);
}

.toaster {
    filter: 
        saturate(2.5) 
        hue-rotate(-30deg) 
        contrast(0.67) 
        sepia(0.4);
}

.kelvin {
    filter: 
        contrast(1.1) 
        brightness(1.3) 
        saturate(2.4) 
        sepia(0.4);
}