.pattern {
    height: 100%;
    background-image:
        linear-gradient(135deg, white 25%, transparent 25%),
        linear-gradient(225deg, white 25%, transparent 25%),
        linear-gradient(45deg, white 25%, transparent 25%),
        linear-gradient(315deg, white 25%, transparent 25%);
    /*background-position:*/
    /*    0 0,*/
    /*    0 0,*/
    /*    0 0,*/
    /*    0 0;*/
    background-position:
        25px 0,
        25px 0,
        0 0,
        0 0;
    /*background-size: 100px 100px;*/
    background-size: 50px 50px;
    /*background-repeat: no-repeat;*/
    background-repeat: repeat-x;
    background-repeat: repeat;
    background-color: #333;
}

html, body {
  height: 100%;
  margin: 0;
}