html, body {
    width: 550px;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background: #f5f5f5;
}

main {
    position: relative;
    display: block;
    width: 500px;
    height: 300px;
    margin: 0 auto;
}

h1 {
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 0;
}

.pie-container {
    position: relative;
    float: left;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.8);
}

.pie-container:after {
    content: '';
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 50;
    width: 50%;
    height: 50%;
    color: white;
    background-color: #f5f5f5;
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.8) inset;
}

.pie-container > #safari,
.pie-container > #ie,
.pie-container > #firefox,
.pie-container > #chrome{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #AAA;
    clip: rect(0px, 75px, 150px, 0px);
    border-radius: 50%;
}

.pie-container > #safari {
    z-index: 10;
    background-color: #AAA;
    transform: rotate(-20deg);
}

.pie-container > #ie {
    z-index: 20;
    background-color: #0074D9;
    transform: rotate(160deg);
}

.pie-container > #firefox {
    z-index: 30;
    background-color: #FF851B;
    transform: rotate(20deg);
}

.pie-container > #chrome {
    z-index: 40;
    background-color: #2ECC40;
    transform: rotate(100deg);
}

.stats {
    float: left;
    margin-left: 50px;
}

.stats > ul {
   list-style: none;
}

.stats > ul > li {
    position: relative;
    margin: 10px 0;
}

.stats > ul > li:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: -25px;
    top: 2px;
    background-color: #AAA;
}

.stats > ul > li:nth-child(1):before {
    background-color: #2ECC40;
}

.stats > ul > li:nth-child(2):before {
    background-color: #FF851B;
}

.stats > ul > li:nth-child(3):before {
    background-color: #0074D9;
}