.portrait {
    box-sizing: border-box;
    margin: 20px auto 0;
    padding: 40px;
    width: 400px;
    height: 400px;
    border: 40px solid rgba(0, 0, 0, 0.4);
    
    border-image:url("../assets/img/frame.png");
    /*border-image-slice:100;*/
    border-image-slice:100 fill;
    border-image-outset:10px;
    
    background: 
        url("../assets/img/glasses.svg") no-repeat 75px 125px, 
        url("../assets/img/keks.jpg") no-repeat center #ffffff;
    background-clip: padding-box;
    background-origin: border-box;
    background-size: 
        150px,
        cover;
}