/* Небольшая подсказка, дальше сами */
article {
    display:table;
    width: 480px;
    border:5px solid #686868;
    margin:40px auto;
    border-spacing:15px;
    background:url(../assets/img/wood.png);
}

article ul {
    display:table-row;
}

article ul:nth-of-type(1) {
    background:url(../assets/img/wall-1.png);
}

article ul:nth-of-type(2) {
    background:url(../assets/img/wall-2.png);
}

article li {
    display:table-cell;
    padding:20px;
    text-align:center;
    /*margin:20px;*/
    border:10px solid #686868;
}

article li:nth-of-type(1) {
    width:70px;
}

article li:nth-of-type(2) {
    width:50px;
}