.btn {
    /*transition-duration: 1s;*/
    transition-duration: 1s, 3s;
    /*transition-property: all;*/
    /*transition-property: background-color;*/
    /*transition-property: transform;*/
    transition-property: background-color, transform;
    color: #fff;
    background-color: #00e676;
}

.btn-active {
    transform: rotate(180deg);
    background-color: #ff5252;
    font-size: 60px;
}