html, body{
    margin:0;
    padding:0;
}
body{
    width:380px;
    min-height:280px;
    padding:10px;
    font-family:Arial, sans-serif;
    font-size:14px;
    line-height:1.4;
    background:#ecf0f1;
}
.main-menu, .main-menu ul{
    width:200px;
    list-style:none;
    padding:0px;
    margin:0px;
}
.main-menu{
    position:relative;
    width:200px;
}
.main-menu ul{
    position:absolute;
    z-index:10;
    left:180px;
    top:41px;
    width:200px;
}
.main-menu a{
    display:block;
    padding:10px 15px;
    margin:0px;
    text-decoration:none;
    color:white;
}
.main-menu>li{
    background:#2980B9;
    border-bottom:2px solid #2C3E50;
}
.main-menu>li li{
    background:#1ABC9C;
    border-bottom:2px solid #2ECC71;
}
.main-menu ul{
    padding:0px;
    margin:0px;
}
.main-menu li.opened{
    background:#1ABC9C;
}