html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(42,113,113);
    color: #333;
    font-family: 'Lora', serif;
}

.outer {
    display: block;
    margin: 50px auto 0;
    max-width: 320px;
    padding: 20px 0;
    border: 1px solid #888;
    border-width: 1px 0;
    position: relative;
    background: #fff;
}

.inner{
    font-style: italic;
    position: relative;
    padding: 0px 40px;
    background: #fff;
}

.inner p {
    font-size: 1.5em;
    margin: 0 0 1.0em;
}

.inner footer {
    display: block;
    text-align: right;
}

.inner footer a {
    text-decoration: none;
    color: #333;
}

.inner {
    margin: 0 -20px;
}

.inner::before, .inner::after {
    content:'';
    position: absolute;
    width: 80px;
    height: 80px;
    border: 20px solid #000;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: 1;
}

.inner::before {
    bottom: -60px;
    left: -40px;
    clip: rect(auto, auto, 40px, 40px);
}

.inner::after {
    bottom: -60px;
    right: -40px;
    clip: rect(auto, 40px, 40px, auto);
}


.outer::before {
    content:'';
    position: absolute;
    width: 80px;
    height: 80px;
    border: 20px solid #000;
    box-sizing: border-box;
    z-index: 1;

    border-radius: 50%;
    top:-40px;
    left:-60px;
    clip: rect(40px, auto, auto, 40px);
}