@keyframes clockwise {
    to {
        transform: rotate(180deg);
    }
}

@keyframes anticlockwise {
    to {
        transform: rotate(-180deg); 
    }
}

.gear-big { 
    animation-name: clockwise;
    animation-duration: 2s;
    animation-iteration-count: 2;
    /*animation-direction: alternate;*/
    animation-direction: alternate-reverse;
}

.gear-small { 
    animation-name: anticlockwise;
    animation-duration: 2s;
    animation-iteration-count: 2;
    /*animation-direction: alternate;*/
    animation-direction: alternate-reverse;
}