
@bg-path: '../assets/logo-less.png';
@bg-color: #1d365d;

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: @bg-color url(@bg-path) 50% 25% no-repeat;
}
