body{
    font-family:Tahoma, sans-serif;
    font-size:18px;
    background: url("/assets/pcourse1/bg.jpg");
}
.btn{
    width:150px;
    padding:15px 20px;
    margin:100px auto;
    text-align:center;
    text-transform:uppercase;
    cursor:pointer;
    color:white;
    background:#3498db;
    -moz-box-shadow:0 0 0 0 #34495e;
    -webkit-box-shadow:0 0 0 0 #34495e;
    box-shadow:0 0 0 0 #34495e;
}

/* НОВЫЙ ПУТИ */
body{
    background: url("../assets/bg.jpg");
}
