.portrait {
    box-sizing: border-box;
    margin: 50px auto 0;
    padding: 10px;
    width: 270px;
    height: 270px;
    outline: 10px solid white;
    border: 50px solid rgba(0, 0, 0, 0.4);

    /*border-image-source: url("../assets/img/border-img.png");*/
    border-image-source: url("../assets/img/border-img-irregular.png");

    /*border-image-slice: 50;*/
    /*border-image-slice: 50 50 65 40;*/
    border-image-slice: 50 50 65 40 fill;
    
    background: url("../assets/img/border-img-irregular.png") no-repeat #ffffff;
    background-clip: padding-box;
    background-origin: content-box;    
}