html, body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    background: #f5f5f5;
}

a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
}

.effect-4 {
    width: 400px;
    margin: 100px auto;
    padding: 30px 0;
    text-align: center;
    background-color: #3fa46a;    
}

.effect-4 a {
	padding: 8px;
	color: #237546;
	font-weight: bold;
}

.effect-4 a:hover {
	color: #fff;
	transition: color 0.3s;
}

.effect-4 a::before,
.effect-4 a::after {
    content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	transition: opacity 0.3s, transform 0.3s;
}

.effect-4 > a::before {
    top:0;
    transform:translateY(-10px);
}

.effect-4 > a::after {
    bottom:0;
    transform:translateY(10px);
}