.picture {
    transition: transform 0.5s ease;
    transform: scale(1);
    transform-origin:50% 100%;
    /*transform-origin:left bottom;*/
    /*transform-origin:right top;*/
    /*transform-origin:left top;*/
}

.picture.active {
    transform: scale(0.5);
}