@CHARSET "UTF-8";

@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src:
    local('Philosopher Regular.ttf'),
    local('Philosopher-Regular'),
    url('Philosopher-Regular.ttf') format('truetype');
}


body{
	color:#494949;
	/* background-color:#eee; */
	text-align:center;
}
main{
	display:inline-block;
    padding:10px;
	margin:auto;
	max-width: 1300px;
    font-family:'Philosopher', Times New Roman,Arial, sans-serif;
    font-size:14px;
    line-height:1.4;
}


ul{
	list-style-type: none;
	max-width:500px;
	text-align: center;
	margin:40px auto;
	box-sizing:border-box;
}
ul li{
	display:inline-block;
	width:100%;
	box-sizing:border-box;
}
ul li a{
	text-decoration: none;
	display:inline-block;
	width: 100%;
	padding:40px 20px;
	margin:20px auto;
	box-sizing:border-box;
	/*background: ;*/
	box-shadow: 0 0 1px 0 black;
	font-size: 25px;
	color:#6666FF;
	font-weight:bold;
}
ul li a:hover{
	box-shadow: 0 0 3px 0 black;
	color:#0000FF;
}

.footer{
	position:relative;
	height:100%;
	vertical-align:bottom;
}
.footer-info{
	display:inline-block;
}