.square-top-left {
    background-image: linear-gradient(
        135deg,
        rgba(255, 255, 255, .2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, .2) 75%,
        transparent 75%
    );
}

.square-top-right {
    /* Цвета: белый 30% прозрачности, прозрачный, белый 30% прозрачности, прозрачный */
    background-image: linear-gradient(
        225deg,
        rgba(255, 255, 255, .3) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .3) 50%,
        rgba(255, 255, 255, .3) 75%,
        transparent 75%
    );
}

.square-bottom-right {
    background-image: linear-gradient(
        315deg,
        rgba(255, 255, 255, .4) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .4) 50%,
        rgba(255, 255, 255, .4) 75%,
        transparent 75%
    );
}

.square-bottom-left {
    /* Цвета: белый 50% прозрачности, прозрачный, белый 50% прозрачности, прозрачный */
    background-image: linear-gradient(
        45deg,
        rgba(255, 255, 255, .5) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .5) 50%,
        rgba(255, 255, 255, .5) 75%,
        transparent 75%
    );
}

.squares {
    width: 300px;
    height: 300px;
    margin: 70px auto;
    /*background-color: #3498db;*/
    background-color: #8e44ad;
}

.square {
    float: left;
    width: 50%;
    height: 150px;
}

html, body {
    margin: 0;
    padding: 0;
}