html, body {
    width: 550px;
    height: 310px;
    margin: 0;
    padding: 0;
}

.part-green {
    transform:rotate(90deg) translate(00px,-15px) skewX(-0deg);
}

.part-maroon {
    transform:rotate(180deg) translate(-00px,125px);
}

.part-orange {
    transform:rotate(270deg) translate(-160px, 105px) scale(2);
}

.part-red {
    transform:rotate(0deg) translate(175px,-100px) skewX(-45deg);
}

.part-yellow {
    transform:rotate(90deg) translate(00px,-40px) skewX(0deg);
}

.part-blue {
    transform:rotate(0deg) translate(-120px,-80px) skewX(-45deg);
}