html, body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

.map {
    position: relative;
    width: 360px;
    height: 360px;
    margin: 50px auto;
    box-shadow: 0 0 3px #ccc;
    background: #fff url("../assets/map.jpg") no-repeat 50% 50%;
    border: 20px solid white;
}

.pin {
    border:10px solid #f75850;
    width:15px;
    height:15px;
    position:absolute;
    top:150px;
    left:250px;
}