label {
    position: relative;
    cursor: pointer;
    max-width: 100px;
    display: inline-block;
    word-wrap: break-word;
}

label::before,
label::after {
    position: absolute;
    display: block;
    content: '';
}

label::before {
    width:32px;
    height:1px;
    border-top:1px solid #5a5a5a;
    top:11px;
    left:108px;
}

input[type="checkbox"] {
    display: none;
}