@font-face {
  font-family: 'Montserrat Alternates';
  src:
    local('MontserratAlternates-Regular'),
    url('fonts/MontserratAlternates.woff') format('woff');
}


body {
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #333;
    background: url('../assets/rain.jpg') no-repeat 50% 0;
}

.square {
    margin: 150px auto;
    text-transform: uppercase;
    text-align: center;
    
    border:5px solid #333;
    font-family:'Montserrat Alternates', sans-serif;
    font-size:72px;
    width:260px;
}