html, body {
    width: 550px;
    height: 400px;
    margin: 0;
    padding: 0;
}

.map {
    width: 400px;
    height: 200px;
    margin: 0 auto;
}

.map > img {
    margin: 0;
    padding: 0;
    float: left;
}
.rotate0{
    transform:rotate(0deg);
}
.rotate90{
    transform:rotate(90deg);
}
.rotate180{
    transform:rotate(180deg);
}
.rotate270{
    transform:rotate(270deg);
}
