html, body {
    width: 550px;   
    height: 250px;
    margin: 0;
    padding: 0;
}

.deck {
    width: 550px;
    margin: 0 auto;
    padding-top: 50px;
}

.deck > img {
    position: relative;
    display: inline-block;
    margin-right: -4px;
    width: 110px;
}

.ten{
    transform:rotate(-10deg) scale(0.8) translate(45px, 20px);
}

.jack{
    transform:rotate(-5deg) scale(0.9) translate(20px);
}

.queen{
    transform:rotate(0deg) scale(1) translate(0px,-5px);
}

.king{
    transform:rotate(5deg) scale(0.9) translate(-20px);
    z-index:-1;
}

.ace{
    transform:rotate(10deg) scale(0.8) translate(-45px,20px);
    z-index:-2;
}