.palette div {
    min-width: 35px;
    min-height: 35px;
    /*margin-bottom: 5px;*/
    /*margin-top: 5px;*/
}
.palette {
    display: flex;
    flex-direction: row; /* значение по умолчанию */
    justify-content: flex-start;
    /* align-items: flex-start; */ /* не работает, т.к. в html-коде !important */
    /* default - align-items:stretch  */
}
.color-olive {
    /*margin-left: auto;*/
    /* align-self:flex-start; */ /* не работает, т.к. в html-коде !important */
    /*height: 54.5%;*/
    margin-top: 23%;
    margin-bottom: 22.5%;
    margin-right: 5px;
    margin-left: auto;
    /*flex-basis: 50%;*/
}
.color-yellow {
    /* align-self:flex-start; */ /* не работает, т.к. в html-коде important */
    height: 36.5%;
    margin-top: auto; /* 170px */
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: 5px;
}
.color-fuchsia {
    /* align-self:flex-start; */ /* не работает, т.к. в html-коде important */
    height: 36.5%;
    margin-top: 5px;
    margin-bottom: auto; /* 170px */
    margin-right: 5px;
    margin-left: 5px; /* auto только у одного! */
}
.color-aqua {
    /* align-self:flex-start; */ /* не работает, т.к. в html-коде important */
    flex-basis:50px; /* Определяет размер элемента по умолчанию, до распределения оставшегося пространства. default: auto (по контенту) */
    margin-top: 23%;
    margin-bottom: 22.5%;
    margin-right: auto;
    margin-left: 5px;
}
