.portrait {
    box-sizing: border-box;
    margin: 20px auto 0;
    padding: 40px;
    width: 400px;
    height: 400px;
    border: 40px solid rgba(255, 255, 0, 0.4);
    background-color:  #ffffff;
    background-image:
        /*url("../assets/img/glasses.svg"),*/
        url("../assets/img/mustache.svg"),
        url("../assets/img/keks.jpg");
    background-repeat: no-repeat;
    background-position:
        /*75px 125px,*/
        bottom 170px right 205px,
        center;
    background-clip: padding-box;
    background-origin: border-box;
    background-size:
        /*150px,*/
        110px,
        cover;
}