input:required {
    border: 1px solid #e74c3c;
    background: url('../assets/required.png') no-repeat right 50%;
}
input:optional:not([type="submit"]) {
    border:1px solid #3498db;
    background: url('../assets/optional.png') no-repeat right 50%;
}
