.portrait {
    margin: 50px auto;
    width: 250px;
    height: 250px;
    outline: 5px solid white;
    border: 50px solid transparent;
    
    border-image:url('../assets/img/leafs-frame.png');
    /*border-image-slice:180;*/
    border-image-slice:180 fill;
    border-image-outset:20px;
    
    background-color: rgba(255,255,255,0.4);
    background-image: url("../assets/img/keks-3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}