.square {
    left: 0;
    transition: all linear 3s;
}

.square-active {
    left: 75%;
    border-radius: 50%;
}

.square-experimental {
    background-color: #e74c3c;
    transition-timing-function:steps(5, start);
    transition-timing-function:steps(5, end);
}