form {
    margin: 0 auto;
    padding: 20px;
    width: 300px; 
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="password"],
select {
    margin-bottom: 10px;
    padding: 2px 5px;
    width: 95%;
    height: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Roboto";
}
input[type="submit"],
input[type="reset"]  {
    display: inline-block;
    margin: 0 5px;
    padding: 6px 15px;
    width: auto;
    border: none;
    border-radius: 5px;
    background: #2c3e50;
    color: #fff;
}

input, button {
    border-radius: 5px;
    font-family: "Roboto";
}
input[type="image"]{
    padding: 5px;
    vertical-align: top;
    border: 1px solid #ccc;
} 
button { 
    display: inline-block;
    margin: 0 5px;
    padding: 6px 15px;
    border: none;
    background: #2c3e50;
    color: #fff;
}
button > img {
    margin-left: 10px;
    vertical-align: middle;
}
.buttons {
    margin-top: 10px;
    text-align: center;
}
.half-width {
    display: inline-block;
    margin-right: -4px;
    width: 50%;
}

.half-width input, 
.half-width select {
    width: 80%;
}
.date {
    width: 120px;
    background: url('../assets/calend.png') no-repeat 97% 50%;
}
.buttons {
    text-align: center;
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Roboto';
  src:
    local('Roboto Regular'),
    local('Roboto-Regular'),
    url('roboto.woff') format('woff');
}

body {
	padding: 20px;
/*	width: 460px;*/
	font-size: 14px;
    font-family: "Roboto";
}