html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #2ECC40;
    color: #fff;
    font-family: "Arial Narrow", Arial, sans-serif;
}

.content {
	height: 100%;
	overflow: hidden;
}

article {
    position: relative;
}

article h1 {
    position: relative;
    width: 200px;
    margin: 100px auto;
    padding: 30px;
    background: black;
    font-size: 30px;    
    text-align: center; 
    z-index: 1;
    
    transform:skewX(-15deg);
}

h1 span {
    display: inline-block;

    transform:skewX(15deg);
}

article p {
    position: absolute;
    top: -200px;
    left: -150px;
    width: 150%;
    font-size: 50px;
    opacity: 0.15;
    
    transform:rotate(-15deg);
}