.checklist {
    display: table;
}

.checklist ul {
    display: table-row;
}

.checklist li {
    display: table-cell;
}

.checklist h1 {
    display: table-caption;
}

.checklist header {
    display: table-header-group;
}

.checklist header li {
    border-color: #3D9970;
}

.checklist footer {
    display: table-footer-group;
}

.checklist footer li {
    border-color: #0074D9;
}