label {
    position: relative;
    cursor: pointer;
}

label::before {
    position: absolute;
    top: 2px;
    left: -44px;
    z-index: 1;
    width: 16px;
    height: 16px;
    content: '';
    border: 2px solid #5a5a5a;
}

input[type="checkbox"] {
    display:none;
}