html,body{
    font-family:Arial, sans-serif;
    font-size:18px;
    background:white;
    padding:0;
    margin:0;
    /*width:300px;*/
}
.btn{
    width:150px;
    padding:15px 20px;
    margin:35px auto;
    text-align:center;
    text-transform:uppercase;
    cursor:pointer;
    color:white;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    /*background:#bdc3c7;*/
    background:#2C3E50;
    -webkit-box-shadow:5px 5px #e74c3c;
    -moz-box-shadow:5px 5px #e74c3c;
    box-shadow:5px 5px #e74c3c;
}
.btn1{
    -webkit-box-shadow:5px 5px #e74c3c;
    -moz-box-shadow:5px 5px #e74c3c;
    box-shadow:5px 5px #e74c3c;
}
.btn2{
    background:#e74c3c;
    -webkit-box-shadow:0px 5px 5px 0px #2C3E50;
    -moz-box-shadow:0px 5px 5px 0px #2C3E50;
    box-shadow:0px 5px 5px 0px #2C3E50;
}
.btn3{
    -webkit-box-shadow:inset 0 0 0px 4px #e74c3c;
    -moz-box-shadow:inset 0 0 0px 4px #e74c3c;
    box-shadow:inset 0 0 0px 4px #e74c3c;
}


.group2{
    font-family:Tahoma, sans-serif;
    font-size:18px;
    padding:0;
    margin:40px auto;
	width:600px;
	border:10px solid #ddd;
}
.group2 .light{
    padding:50px 0;
    background:#2c3e50;
}
.group2 .dark{
    padding:50px 0;
}
.group2 .btn{
    width:150px;
    padding:15px 20px;
    margin:0 auto;
    text-align:center;
    text-transform:uppercase;
    cursor:pointer;
    color:white;
    background:#3498db;
}
.group2 .btn1{
    box-shadow:0 0 5px white;
}
.group2 .btn2{
    box-shadow:0 0 5px #2c3e50;
}