img[src$="gif"]{
    box-shadow:0 0 0 5px red;
    display:none;
}
img[src$="jpg"]{
    border:5px solid #F6B267;
    box-shadow:0 0 0 3px #B77D3E;
}

img[src$="jpg"][alt*="Кекс"]{
    border:5px solid #2980b9;
    box-shadow:0 0 0 3px #34495e;
}
