body {
    font-family: Arial, sans-serif;
    color: #2B2328;
    background: url('../assets/pumpkin.jpg') no-repeat 50% 0;
}

h1 {
    margin: 30px;
    font-size: 100px;
    font-weight: normal;
    text-transform: uppercase;
    
    text-shadow:
        -1px -1px 1px #1e181c,
        2px 2px 1px #52424d;
		
	text-align:center;
}

span {
    position: absolute;
    top: 270px;
/*    left: 30px;*/
    left: 35%;
    font-size: 150px;
    color: #CB454C;
}