body {
    padding: 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #333;
    background: url('../assets/bokeh.jpg') no-repeat 50% 0;
}

article {
    padding: 20px;
    background: rgba(240, 240, 240, 0.85);

	margin:auto;
	max-width:900px;
    
}


table {
    border-collapse: collapse;
    
    direction:rtl;
}

tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.75);
}

td { 
    padding: 10px 15px;
    border-right: 1px dashed #ccc;
}

td:first-child {
    font-style: italic;
    text-align: right;
}

td:last-child {
    border-right: none;
}