html, body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    font-family: "Arial Narrow", Arial, sans-serif;
}

.buttons {
    width: 400px;
    margin: 50px auto;    
    padding: 10px 20px;
    background: white;
    text-align: center;
    box-shadow: 0 0 3px #ccc;
}

button {
    position: relative;
    width: 300px;
    height: 60px;
    margin: 20px auto;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    border: none;    
    outline: none;
    cursor: pointer;
    overflow: hidden;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    transition: transform 0.4s ease-in-out;
}

button:active {
  top: 1px;
  box-shadow: none;
}

.icon {
    position: absolute;
    left: 20px;
}

.hidden {
    position: absolute;
    opacity: 0;
}

.hidden img {
    width: 24px;
    height: 24px;
    vertical-align: top;
    margin-left: 5px;
}

.btn-yellow {
    background: #f1c40f;
    border-bottom: 2px solid #e2b607;
    box-shadow: inset 0 -2px #e2b607;
}

.btn-green {
    background: #1abc9c;
    border-bottom: 2px solid #12ab8d;
    box-shadow: inset 0 -2px #12ab8d;
}

.btn-blue {
    background: #2980b9;
    border-bottom: 2px solid #2475ab;
    box-shadow: inset 0 -2px #2475ab;
}

.btn-green .icon {
    width: 24px;
    height: 24px;
    transition: all 0.4s ease-in-out;
}

.btn-green:hover .icon,
.btn-green.hover .icon{
    transform: rotate(360deg) scale(1.2);
}

.btn-yellow .icon {
    width: 32px;
    height: 32px;
    transition: all 0.4s ease-in-out;
}

.btn-yellow:hover .hidden,
.btn-yellow.hover .hidden {
    left: 20px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.btn-yellow:hover .icon,
.btn-yellow.hover .icon {
    transform: scale(10);
    opacity: 0;
}

.btn-blue .icon {
    width: 28px;
    height: 28px;
    transition: all 0.2s ease-in-out;
}

.btn-blue .hidden {
    opacity: 0;
    left: 15px;
    top: 12px;
}

.btn-blue .hidden img {
    width: 28px;
    height: 28px;
}

.btn-blue:hover .hidden,
.btn-blue.hover .hidden {
    transition:
        opacity 0.2s ease-in-out,
        transform 0.2s ease-in-out 0.1s;
        
    /*transform:scale(1);*/
    transform:scale(0);
    opacity:1;
}

.btn-blue:hover .icon,
.btn-blue.hover .icon {

    opacity:0;
}