@base-color: rgb(110, 27, 255);

@distance: 60;
@error-color: spin(@base-color, @distance);

@invert-distance: @distance * -1;
@info-color: spin(@base-color, @invert-distance);

.color {
    &-primary {
        background-color: @base-color;
    }
    &-error {
        background-color: @error-color;
    }
    /* &-правило добавьте тут */
    &-info {
        background-color: @info-color;
    }
}

.palette-item {
    display: inline-block;
    .color {
        margin: 0.5em;
    }
}