/* Header */
header.page-header {
    position: relative;
    min-height: 20px;
    padding: 20px;
    z-index: 5;
    color: white;
    background-image:
        -webkit-linear-gradient(45deg, #34495e 25%, transparent 25%), -webkit-linear-gradient(135deg, #34495e 25%, transparent 25%), -webkit-linear-gradient(315deg, #34495e 25%, transparent 25%), -webkit-linear-gradient(225deg, #34495e 25%, transparent 25%);
    background-image:
        linear-gradient(45deg, #34495e 25%, transparent 25%),
        linear-gradient(-45deg, #34495e 25%, transparent 25%),
        linear-gradient(135deg, #34495e 25%, transparent 25%),
        linear-gradient(-135deg, #34495e 25%, transparent 25%);
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    -webkit-box-shadow: 0 0 5px 0 #333;
    -moz-box-shadow: 0 0 5px 0 #333;
    box-shadow: 0 0 5px 0 #333;
    font-size: 18px;
    text-indent: 120px;
}
.page-header:before {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 90px;
    height: 90px;
    content: '';
    background: url(/assets/course73/logo.svg);
}

main {
    min-height: 300px;
    padding-top: 40px;
    color: black;
    display: block;
    background-color: white;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAABlBMVEX///+pqalTpKl9AAAAAnRSTlMAGovxNEIAAAAdSURBVDjLY2AAAUaG4UYxDDsfjfp91O+jfqfE7wCzpQCw/dq+qQAAAABJRU5ErkJggg==");
}
main:after {
    content: '';
    clear: both;
    display: table;
}

footer.page-footer {
    min-height: 50px;
    padding: 20px;
    font-size: 14px;
    color: black;
    background-color: #f1c40f;
    background-image:
        -webkit-linear-gradient(45deg, transparent 50%, white 50%), -webkit-linear-gradient(135deg, transparent 50%, white 50%), -webkit-linear-gradient(315deg, transparent 50%, #2c3e50 50%), -webkit-linear-gradient(225deg, transparent 50%, #2c3e50 50%);
    background-image:
        linear-gradient(45deg, transparent 50%, white 50%),
        linear-gradient(-45deg, transparent 50%, white 50%),
        linear-gradient(135deg, transparent 50%, #2c3e50 50%),
        linear-gradient(-135deg, transparent 50%, #2c3e50 50%);
    background-size: 10px 12px;
    background-repeat: repeat-x;
    background-position: 0 0, 0 0, 0 100%, 0 100%;
}
.page-footer:before {
    margin-right: 0.5em;
    border: 2px solid white;
    box-shadow: 0 0 4px #c0392b;
    content: 'Кекс, keks@htmlacademy.ru';
    background: url(/assets/course74/keks.jpg) no-repeat 0 0;
    background-size: 50px;
    width: 50px;
    height: 45px;
    position: absolute;
    text-indent: 70px;
    white-space: nowrap;
    line-height: 45px;
}

.page-footer:after {
    float: right;
    padding-top: 20px;
    font-size: 12px;
    content: '© 2008—2014 Cat Energy';
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    local('Roboto Regular'),
    local('Roboto-Regular'),
    url('/assets/course74/roboto.woff') format('woff');
}
input, select {
    box-sizing: content-box;
    -moz-box-sizing: content-box; /*Firefox 1-3*/
    -webkit-box-sizing: content-box; /* Safari */
}
html, body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #2c3e50;
    font-family: 'Roboto', sans-serif;
}

body, input, select, textarea {
    font-size: 14px;
    font-family: "Roboto";
}

main {
    min-height: 410px;
}
