/* Header */
header.page-header {
    position: relative;
    min-height: 20px;
    padding: 20px;
    z-index: 5;
    color: white;
    background-image:
        -webkit-linear-gradient(45deg, #34495e 25%, transparent 25%), -webkit-linear-gradient(135deg, #34495e 25%, transparent 25%), -webkit-linear-gradient(315deg, #34495e 25%, transparent 25%), -webkit-linear-gradient(225deg, #34495e 25%, transparent 25%);
    background-image:
        linear-gradient(45deg, #34495e 25%, transparent 25%),
        linear-gradient(-45deg, #34495e 25%, transparent 25%),
        linear-gradient(135deg, #34495e 25%, transparent 25%),
        linear-gradient(-135deg, #34495e 25%, transparent 25%);
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    -webkit-box-shadow: 0 0 5px 0 #333;
    -moz-box-shadow: 0 0 5px 0 #333;
    box-shadow: 0 0 5px 0 #333;
    font-size: 18px;
    text-indent: 120px;
}
.page-header:before {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 90px;
    height: 90px;
    content: '';
    background: url(logo.svg);
}

main {
    min-height: 300px;
    padding-top: 40px;
    color: black;
    display: block;
    background-color: white;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAABlBMVEX///+pqalTpKl9AAAAAnRSTlMAGovxNEIAAAAdSURBVDjLY2AAAUaG4UYxDDsfjfp91O+jfqfE7wCzpQCw/dq+qQAAAABJRU5ErkJggg==");
}
main:after {
    content: '';
    clear: both;
    display: table;
}

footer.page-footer {
    min-height: 50px;
    padding: 20px;
    font-size: 14px;
    color: black;
    background-color: #f1c40f;
    background-image:
        -webkit-linear-gradient(45deg, transparent 50%, white 50%), -webkit-linear-gradient(135deg, transparent 50%, white 50%), -webkit-linear-gradient(315deg, transparent 50%, #2c3e50 50%), -webkit-linear-gradient(225deg, transparent 50%, #2c3e50 50%);
    background-image:
        linear-gradient(45deg, transparent 50%, white 50%),
        linear-gradient(-45deg, transparent 50%, white 50%),
        linear-gradient(135deg, transparent 50%, #2c3e50 50%),
        linear-gradient(-135deg, transparent 50%, #2c3e50 50%);
    background-size: 10px 12px;
    background-repeat: repeat-x;
    background-position: 0 0, 0 0, 0 100%, 0 100%;
}
.page-footer:before {
    margin-right: 0.5em;
    border: 2px solid white;
    box-shadow: 0 0 4px #c0392b;
    content: 'Кекс, keks@htmlacademy.ru';
    background: url(keks.jpg) no-repeat 0 0;
    background-size: 50px;
    width: 50px;
    height: 45px;
    position: absolute;
    text-indent: 70px;
    white-space: nowrap;
    line-height: 45px;
}

.page-footer:after {
    float: right;
    padding-top: 20px;
    font-size: 12px;
    content: '© 2008—2014 Cat Energy';
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    local('Roboto Regular'),
    local('Roboto-Regular'),
    url('roboto.woff') format('woff');
}
input, select {
    box-sizing: content-box;
    -moz-box-sizing: content-box; /*Firefox 1-3*/
    -webkit-box-sizing: content-box; /* Safari */
}
html, body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #2c3e50;
    font-family: 'Roboto', sans-serif;
}

body, input, select, textarea {
    font-size: 14px;
    font-family: "Roboto";
}

form {
    margin: 0 auto;
    padding: 20px;
    width: 300px; 
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
}
main {
    min-height: 400px;
}
fieldset {
    padding: 10px;
    border: 1px solid #34495e;
    border-radius: 5px;
}
fieldset legend{
    color: #34495e;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type=text],
input[type=number],
input[type=datetime],
input[type=url],
input[type=email],
select{
    margin-bottom: 10px;
    padding: 2px 5px;
    width: 95%;
    height: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: middle;
    font-family: "Roboto";
}
input[type=radio],
input[type=checkbox] {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 5px 0;
}
input[type=radio] + label,
input[type=checkbox] + label{
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
}
input[type="submit"] { 
    display: inline-block;
    margin: 0 5px;
    padding: 6px 15px;
    width: auto;
    height: auto;
    border: none;
    border-radius: 5px;
    background: #2c3e50;
    color: #fff;
}
.half-width {
    width: 50%;
    display: inline-block;
    margin-right: -4px;
}
.half-width input[type=text],
.half-width input[type=number],
.half-width input[type=datetime],
.half-width select{
    width: 80%;
}
.buttons {
    margin-top: 10px;
    text-align: center;
}