.leaf-top-left {
    background-image: linear-gradient(
        -45deg,
        #f00 30px,
        #000 30px,
        #000 40px,
        #f00 40px,
        #f00 70px,
        #000 70px
    );
}

.leaf-top-right {
    /* цвета: #0f0, #000, #0f0, #000 */
    background-image: linear-gradient(
        45deg,
        #0f0 30px,
        #000 30px,
        #000 40px,
        #0f0 40px,
        #0f0 70px,
        #000 70px
    );
}

.leaf-bottom-right {
    /* цвета: #ff0, #000, #ff0, #000 */
    background-image: linear-gradient(
        135deg,
        #ff0 30px,
        #000 30px,
        #000 40px,
        #ff0 40px,
        #ff0 70px,
        #000 70px
    );
}


.leaf-bottom-left {
    /* цвета: #f0f, #000, #f0f, #000 */
    background-image: linear-gradient(
        225deg,
        #f0f 30px,
        #000 30px,
        #000 40px,
        #f0f 40px,
        #f0f 70px,
        #000 70px
    );
}

.leaf-top-left, .leaf-bottom-right {
    border-radius: 0 50%;
}

.leaf-top-right, .leaf-bottom-left {
    border-radius: 50% 0;
}

.leaf {
    float: left;
    width: 150px;
    height: 150px;    
    background-color: #dfdfdf;
}

.flower {
    width: 300px;
    margin: 70px auto;
}

html, body {
    margin: 0;
    padding: 0;
}