.leaf-top-left {
    background-image: linear-gradient(135deg, #f00, #000);
}

.leaf-top-right {
    /*градиент от #0f0 к #000*/
    background-image: linear-gradient(225deg, #0f0, #000);
}

.leaf-bottom-right {
    /*градиент от #ff0 к #000*/
    background-image: linear-gradient(315deg, #ff0, #000);
}

.leaf-bottom-left {
    /*градиент от #f0f к #000*/
    background-image: linear-gradient(45deg, #f0f, #000);
}

.leaf-top-left, .leaf-bottom-right {
    border-radius: 0 50%;
}

.leaf-top-right, .leaf-bottom-left {
    border-radius: 50% 0;
}

.leaf {
    width: 150px;
    height: 150px;
    margin: 0;
    float: left;
    background-color: #dfdfdf;
}

.flower {
    margin: 0 auto;
    padding-top: 80px;
    width: 300px;
}

html, body {
    height: 100%;
    margin: 0;
}