label {
    position: relative;
    cursor: pointer;
}

label::before,
label::after {
    position: absolute;
    top: 4px;
    left: -42px;
    content: '';
    border-radius: 50%;
}

label::before {
    width: 12px;
    height: 12px;
    border: solid 2px #5a5a5a;
}

label::after {
    width:16px;
    height:16px;
    background-color:#00bad2;
    transform:scale(1.1);
}

input[type="radio"] {
    display: none;
}