.main-menu{
    width:180px;
    padding:0;
    margin:0;
    list-style:none;
}
.main-menu a{
    display:block;
    padding:8px 14px;
    margin-bottom:-1px;
    color:#0088CC;
    text-decoration:none;
    border:1px solid #E5E5E5;
}
.main-menu a:hover{
    background:#F5F5F5;
}
.main-menu>li{
    position:relative;
}
.main-menu .sub-menu{
    display:none;
    position:absolute;
    top:5px;
    left:170px;
    z-index:10;
    width:150px;
    padding:0;
    margin:0;
    list-style:none;
    background:#FCF8E3;
}
/* селектор для подменю, если навести мышь */
/* на родительский элемент верхнего меню */
.main-menu>li:hover .sub-menu{
    display:block;
}
body{
    font-family:Arial, sans-serif;
    font-size:14px;
    line-height:1.4;
    padding:10px;
}