.label-box {
    position: relative;
    width: 270px;
}

input {
    width: 270px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #757575;
}

label {
    position: absolute;
    top: -36px;
    font-size: 18px;
    pointer-events: none;
    color: #757575;
    
    transition: all 0.2s;
}

input:focus ~ .label-box label,
input:valid ~ .label-box label {
    font-size:14px;
    transform:translateY(-20px);
}