@color-1: #0074D9;
@color-2: lighten(@color-1,25%);
@color-3: #FF4136;
@color-4: desaturate(@color-5,30%);
@color-5: #2ECC40;
@color-6: spin(@color-3,260);
@color-7: #FFDC00;
@color-8: darken(@color-7,15%);
@color-9: darken(@color-6,20%);

.color-1 {
    background-color: @color-1;
}

.color-2 {
    background-color: @color-2; 
}

.color-3 {
    background-color: @color-3;
}

.color-4 {
    background-color: @color-4;
}

.color-5 {
    background-color: @color-5;
}

.color-6 {
    background-color: @color-6;
}

.color-7 {
    background-color: @color-7;
}

.color-8 {
    background-color: @color-8;
}

.color-9 {
    background-color: @color-9;
}