.portrait {
    box-sizing: border-box;
    margin: 50px auto 0;
    padding: 10px;
    
    /*width: 270px;*/
    /*height: 270px;*/
    width: 350px;
    height: 350px;
    
    outline: 10px solid white;
    border: 50px solid rgba(0, 0, 0, 0.4);
    border-image-source: url("../assets/img/border-img.png");
    border-image-slice: 50;
    
    /*border-image-repeat: stretch;*/
    border-image-repeat: stretch repeat;
    
    background: url("../assets/img/border-img.png") no-repeat center #ffffff;
    background-clip: padding-box;
}