html,body{
    font-family:Tahoma, sans-serif;
    font-size:18px;
    padding:0;
    margin:0;
}
.light{
    padding:50px 0;
    background:#2c3e50;
}
.dark{
    padding:50px 0;
}
.btn{
    width:150px;
    padding:15px 20px;
    margin:0 auto;
    text-align:center;
    text-transform:uppercase;
    cursor:pointer;
    color:white;
    background:#3498db;
}
.btn1{

}
.btn2{

}

/* НОВЫЙ ПУТИ */
/* body{
    background: url("../assets/bg.jpg");
}
 */