.spot {
    display: flex;
    align-items: stretch; /* task 1. Измените у <code>.spot</code> выравнивание флекс-элементов
                                                вдоль поперечной оси на <code>stretch</code> */
    justify-content: space-around;
}

.skate {
    margin: 10px;
    min-width: 50px;
    min-height: 50px;
}

.skate-2 {
    margin-top: auto; /* Task 2. Затем задайте <code>margin-top: auto;</code> второму скейту. */
}

.skate-3 {
    align-self: flex-end; /* Task 3. Третьему скейту сначала задайте
                        собственное выравнивание в конце поперечной оси, */
    margin-bottom: auto; /* Task 4. а потом задайте <code>margin-bottom: auto;</code> */
}
