html, body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

.deck {
    list-style: none;
}

.deck > li {
    position: relative;
    display: inline-block;
    margin: 0 20px 20px 0;
}

.deck img {
    width: 100px;
    transition: all .1s linear;
}

.deck img:hover,
.deck img.hover {
    opacity:0.6;
    transform:scale(1.1);
}