form {
    margin: 20px auto;
    padding: 20px;
    width: 300px; 
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
}
label {
    display: block;
    margin-bottom: 5px;
}
textarea {
    margin-bottom:10px;
    padding: 2px 5px;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Roboto";
    font-size: 14px;
}
input[type="submit"] { 
    display: inline-block;
    margin: 0 5px;
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
    background: #2c3e50;
    color: #fff;
}
.buttons {
    margin-top: 10px;
    text-align: center;
}