li.color-1 {
    border-color: #001f3f;
}

li.color-2 {
    border-color: #0074D9;
}

li.color-3 {
    border-color: #7FDBFF;
}

li.color-4 {
    border-color: #39CCCC;
}

li.color-5 {
    border-color: #3D9970;
}

li.color-6 {
    border-color: #2ECC40;
}

li.color-7 {
    border-color: #01FF70;
}

li.color-8 {
    border-color: #FFDC00;
}

li.color-9 {
    border-color: #FF851B;
}

li.color-10 {
    border-color: #FF4136;
}

li.color-11 {
    border-color: #85144b;
}

li.color-12 {
    border-color: #F012BE;
}

li.color-13 {
    border-color: #B10DC9;
}

li.color-14 {
    border-color: #111111;
}

li.color-15 {
    border-color: #AAAAAA;
}

li.color-16 {
    border-color: #FFFFFF;
}