.wizard {
    top: 244px;
    left: 30px;
}

.doppelganger {
    /*visibility: hidden;*/
    visibility: visible;
    transform:scaleX(-1);
}

.diamond {
/*    transform:rotate(180deg) translate(198px,210px) scale(0.6) ;
*/
}

.world {
    min-width: 570px;
}