html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    background: #161616;
}

section {
    display: inline-block;
    margin-top: 20px;
}

.shape {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #fff;
    overflow: hidden;
}


.shape .details {
    width: 310px;
    height: 310px;
    padding-top: 60px;
    color: #fff;
    background-color:rgba(75, 90, 120, 0.9);
}


.details header {
    display: block;
    padding-bottom: 10px;
    font-size: 26px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
}


.details p {
    width: 70%;
    margin: 10px auto;
    line-height: 1.4;
}


.button {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 5px 15px;
    margin-top: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #2f3644;
    border-radius: 20px;
}

.button:hover {
    background-color: #fff;
    color: #2f3644;
}