.photo {
    background-image: url("../assets/img/spb-3.jpg");
}

.walden {
    filter: 
        contrast(0.9) 
        brightness(1.2) 
        hue-rotate(-20deg) 
        saturate(1.7) 
        sepia(0.4);
}

.toaster {
    filter: 
        contrast(0.67)
        saturate(2.5)
        hue-rotate(-30deg)
        sepia(0.4);
}

.kelvin {
    filter:
        contrast(1.1)
        brightness(1.3)
        saturate(2.4)
        sepia(0.4)
}