.paper-btn {
    display: inline-block;
    margin: 58px 12px;
}

.paper-btn label {
    display: inline-block;
    width: 80px;
    line-height: 40px;
    font-size: 14px;
    border-radius: 3px;
    text-transform: uppercase;
    background: #f5f5f5;
    color: #616161;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    
    /*transition-duration:0.3s;*/
    /*transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);*/
    /*transition-property:box-shadow;*/
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.paper-btn input {
    display: none;
}

.paper-btn input:checked ~ label {
    color:#f1f1f1;
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.paper-btn-true input:checked ~ label {
    background-color: #00e676;
}

.paper-btn-false input:checked ~ label {
    background-color: #ff5252;
}