html{
    padding:0;
}
body{
    /*position:relative;*/
    padding:0;
    margin:0;
    height:260px;
    width:260px;
    /*bac*/
}
div{
    position:absolute;
    display:inline-block;
    background:white;
}
/* горизонтальные элементы */
.h{
    width:50px;
    height:10px;
}
.h1{
    top:190px;
    left:20px;
}
.h2{
    top:170px;
    left:80px;
}
.h3{
    top:210px;
    left:200px;
    width:40px;
}
/* вертикальные элементы */
.v{
    top:170px;
    width:10px;
    height:50px;
}
.v1{
    left:20px;
}
.v2{
    left:60px;
}
.v3{
    left:100px;
}
.v4{
    left:140px;
}
.v5{
    left:180px;
}
.v6{
    left:200px;
}
/* уголки */
.corner-top{
    top:170px;
    left:150px;
    border:15px solid white;
    border-top-width:20px;
    border-bottom-width:0; 
    border-top-color:transparent;
    background:none;
}
.corner-bottom{
    top:190px;
    left:150px;
    border:15px solid transparent;
    border-top-width:20px;
    border-bottom-width:0;
    border-top-color:white;
    background:none;
}
/* лого */
.logo{
    top:80px;
    left:87px;
    width:64px;
    height:64px;
    background:url('logo.png');
}