.main-menu{
    padding:0;
    margin:0;
    list-style:none;
    border:1px solid #E5E5E5;
}
.main-menu li{
    display:inline-block;
    margin-right:5px;
}
.main-menu a{
    display:block;
    padding:8px 10px;
    color:#0088CC;
}
body{
    font-family:Arial, sans-serif;
    font-size:14px;
    line-height:1.4;
    padding:10px;
    min-width:300px;
}