@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic-ext");
@font-face {
	font-family: "Moreno";
	font-display: swap;
	src: url("../fonts/Moreno.eot");
	src: local("☺"), url("../fonts/Moreno.woff") format("woff"), url("../fonts/Moreno.ttf") format("truetype"), url("../fonts/Moreno.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

aside, nav, footer, header, section, code {
	display: block;
}

code {
	display: inline-block;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	min-width: 320px;
	position: relative;
	width: 100%;
	color: #000;
}

body {
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	font-family: "Open Sans";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body.lock {
	overflow: hidden;
}

input, button, textarea {
	font-family: "Open Sans";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a {
	text-decoration: underline;
	color: #18b5a4;
}

a:visited {
	text-decoration: underline;
	color: #118777;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.wrapper-content {
	position: fixed;
	height: 100%;
	width: 100%;
	overflow: auto;
}

.wrapper-body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	overflow: hidden;
	min-height: 100%;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	width: 100%;
}
@media (max-width: 1182px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767px) {
	.container {
		max-width: none;
		padding: 0 10px;
	}
}


footer {
	position: relative;
	padding: 30px;
	background-color: #5e5373;
	color: #fff;
}
@media (max-width: 767px) {
	footer {
		padding: 15px;
	}
}

.footer__copy {
	line-height: 20px;
	font-size: 18px;
	margin: 0px 0px 10px 0px;
}

.cssbackground-sector {
	margin: 0px 0px 30px 0px;
	border-bottom: 2px solid #eee;
	padding: 0px 0px 30px 0px;
}
.cssbackground-sector h2 {
	margin: 0px 0px 5px 0px !important;
}

.cssbackground-sector-header {
	cursor: pointer;
	position: relative;
	padding: 0px 0px 0px 30px;
}
.cssbackground-sector-header:before {
	content: "+";
	text-align: center;
	text-decoration: none;
	line-height: 17px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	border: 1px solid #000;
	margin: 0px 10px 0px 0px;
	position: absolute;
	top: 4px;
	left: 0;
	font-size: 18px;
}
.cssbackground-sector-header.active:before {
	content: "-";
	line-height: 15px;
}
@media (max-width: 767px) {
	.cssbackground-sector-header {
		padding: 0px 0px 0px 30px;
	}
	.cssbackground-sector-header h2 {
		text-align: left !important;
	}
	.cssbackground-sector-header:before {
		top: 2px;
	}
}

.cssbackground-block {
	display: none;
	padding: 15px 0px 0px 0px;
}

.cssbackground-block-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
@media (max-width: 767px) {
	.cssbackground-block-nav {
		display: block;
	}
}

.cssbackground-block-nav__item {
	background-color: #5e5373;
	border-radius: 15px 15px 0 0;
	color: #fff;
	border: 1px solid #ece89d;
	padding: 0px 15px;
	font-size: 14px !important;
	text-align: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	cursor: pointer;
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 16px;
}
.cssbackground-block-nav__item small {
	display: block;
}
.cssbackground-block-nav__item.active {
	background-color: #ece89d;
	color: #000;
}
@media (max-width: 767px) {
	.cssbackground-block-nav__item {
		border-radius: 0;
		height: 50px;
	}
	.cssbackground-block-nav__item:first-child {
		border-radius: 15px 15px 0 0;
	}
}

.cssbackground-block-item-block {
	border: 4px solid #ece89d;
	border-radius: 0 15px 15px 15px;
	overflow: hidden;
	/*background: url("") center/300px no-repeat;*/
	margin: 0px 0px 15px 0px;
}
@media (max-width: 767px) {
	.cssbackground-block-item-block {
		border-radius: 0 0 15px 15px;
	}
}

.cssbackground-block-item-block__value {
	/*height: 350px;*/
	height: 100%;
	overflow: auto;
	font-size: 16px;
	padding: 15px;
	line-height: 24px;
	-webkit-overflow-scrolling: touch;
}
.cssbackground-block-item-block__value--border {
	border: 10px dashed #000;
	padding: 20px;
}

.cssbackground-block-item__label {
	font-size: 18px;
	font-weight: 700;
	margin: 0px 0px 15px 0px;
}

.cssbackground-block-item__or {
	font-size: 16px;
	margin: 15px 0px;
	font-weight: 700;
}

.cssbackground-block-item__code {
	padding: 15px;
	font-size: 16px !important;
	line-height: 20px !important;
	background-color: #fffde0;
}
.cssbackground-block-item__code b {
	padding: 0px 5px;
	background-color: #fff;
	font-weight: normal;
}
.cssbackground-block-item__code small {
	font-style: italic;
	color: gray;
}
.cssbackground-block-item__code i {
	padding: 0px 5px;
}
.cssbackground-block-item__code p {
	margin: 0px 0px 0px 0px !important;
	font-size: 16px !important;
	line-height: 20px !important;
	font-weight: 600;
}
.cssbackground-block-item__code span {
	display: block;
	padding: 0px 0px 0px 15px;
}

.cssbackground-block-item__link {
	margin: 15px 0px 0px 0px;
	display: inline-block;
	font-size: 16px;
}


.flexbox .cssbackground-sector {
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 20px 0px;
}
.flexbox .block__row {
	border: 10px solid #ece89d;
}
.flexbox .block__element {
	border: 5px solid #5e5373;
}
.flexbox .block__item {
	background-color: #18b5a4;
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	padding: 20px;
}
@media (max-width: 767px) {
	.flexbox .block__item {
		padding: 10px;
		font-size: 20px;
	}
}




.content {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	padding: 30px 30px 50px 30px;
}
.content h1 {
	text-transform: uppercase;
	color: #5e5373;
	font-size: 35px;
	font-family: "Moreno";
	margin: 0px 0px 30px 0px;
	line-height: 45px;
}
@media (max-width: 767px) {
	.content h1 {
		font-size: 30px;
		margin: 0px 0px 20px 0px;
		line-height: 33px;
		text-align: center;
	}
}
.content h2 {
	text-transform: uppercase;
	color: #5e5373;
	font-family: "Moreno";
	font-size: 20px;
	line-height: 28px;
	margin: 0px 0px 15px 0px;
}
@media (max-width: 767px) {
	.content h2 {
		font-size: 20px;
		margin: 0px 0px 15px 0px;
		text-align: center;
		line-height: 24px;
	}
}
.content h3 {
	text-transform: uppercase;
	color: #5e5373;
	font-family: "Moreno";
	font-size: 16px;
	line-height: 20px;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 0px 0px;
}
.content p {
	font-size: 16px;
	margin: 0px 0px 20px 0px;
	line-height: 22px;
}
.content p:last-child {
	margin: 0px 0px 0px 0px;
}
.content ul {
	margin: 0px 0px 20px 0px;
}
.content ul li {
	font-size: 16px;
	margin: 0px 0px 10px 0px;
	line-height: 22px;
	position: relative;
	padding: 0px 0px 0px 15px;
}
.content ul li:before {
	content: "";
	background-color: #18b5a4;
	width: 5px;
	height: 5px;
	position: absolute;
	top: 9px;
	left: 0;
	border-radius: 50%;
}
.content ul li ul {
	margin: 5px 0px;
}
.content ul li ul li {
	margin: 0px 0px 0px 0px;
}
.content ul.nostyle li {
	padding: 0;
}
.content ul.nostyle li:before {
	display: none;
}
.content ol {
	margin: 0px 0px 20px 20px;
}
.content ol li {
	font-size: 16px;
	margin: 0px 0px 10px 0px;
	line-height: 20px;
	position: relative;
	padding: 0px 0px 0px 15px;
}
.content ol.nostyle li {
	padding: 0;
}
.content ol.nostyle li:before {
	display: none;
}
@media (max-width: 767px) {
	.content {
		padding: 15px 15px 50px 15px;
	}
	.content ul li {
		font-size: 14px;
		line-height: 20px;
	}
	.content ul li:before {
		top: 8px;
	}
	.content ol li {
		font-size: 14px;
		line-height: 20px;
	}
	.content ol li:before {
		top: 8px;
	}
	.content p {
		font-size: 14px;
		line-height: 20px;
		margin: 0px 0px 15px 0px;
	}
}


.tab__item {
	display: none;
}
.tab__item.active {
	display: block;
}
