@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    local('Roboto Regular'),
    local('Roboto-Regular'),
    url('roboto.woff') format('woff');
}

html, body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #2c3e50;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}
a:link, a:visited, a:hover, a:active {
    color: #c0392b;
}
code {
    padding: 0.2em 0.4em;
    color: #c0392b;
    font-weight: bold;
    background: white;
    box-shadow: 0 0 2px #ccc;
}

/* Header */
header.page-header {
    position: relative;
    min-height: 20px;
    padding: 20px;
    z-index: 5;
    color: white;
    background-image:
        linear-gradient(45deg, #34495e 25%, transparent 25%),
        linear-gradient(-45deg, #34495e 25%, transparent 25%),
        linear-gradient(135deg, #34495e 25%, transparent 25%),
        linear-gradient(-135deg, #34495e 25%, transparent 25%);
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    box-shadow: 0 0 5px 0 #333;
}
.logo {
    position: absolute;
    top: 10px;
    left: 20px;
    margin: 0;
}
.main-menu ul {
    margin: 0;
    margin-left: 130px;
    padding: 0;
    list-style: none;
}
.main-menu li {
    display: inline-block;
    margin-right: 1em;
}
.main-menu a {
    color: white;
}

/* Main */
main {
    display: block; /* для страховки, очень новый элемент */
    min-height: 200px;
    padding-top: 50px;
    color: black;
    background-color: white;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAABlBMVEX///+pqalTpKl9AAAAAnRSTlMAGovxNEIAAAAdSURBVDjLY2AAAUaG4UYxDDsfjfp91O+jfqfE7wCzpQCw/dq+qQAAAABJRU5ErkJggg==");
}
main:after {
    content: '';
    clear: both;
    display: table;
}

.post{
    margin:0 20px;
}
.post header {
    min-height: 50px;
    margin-bottom: 1em;
}
.post header h1 {
    margin: 0;
}
.post header time {
    font-size: 11px;
    color: #999;
}
.post .intro {
    margin: 1em 0;
    padding: 10px;
    background-color: rgba(241, 196, 15, 0.1);
    border-radius: 5px;
}
.post .intro p {
    margin: 0;
}
.post .content {
    font-size: 14px;
    min-height: 200px;
    margin-bottom: 20px;
}
.post .content h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 18px;
}
.post figure {
    position: relative;
    width: 400px;
    margin: 20px auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px #999;
}
.post figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    padding: 15px 5%;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
}
.post img {
    display: block;
    max-width: 100%;
}

/* Footer */
footer.page-footer {
    min-height: 50px;
    padding: 20px;
    font-size: 14px;
    color: black;
    background-color: #f1c40f;
    background-image:
        linear-gradient(45deg, transparent 50%, white 50%),
        linear-gradient(-45deg, transparent 50%, white 50%),
        linear-gradient(135deg, transparent 50%, #2c3e50 50%),
        linear-gradient(-135deg, transparent 50%, #2c3e50 50%);
    background-size: 10px 12px;
    background-repeat: repeat-x;
    background-position: 0 0, 0 0, 0 100%, 0 100%;
}
.page-footer:after {
    content: '';
    clear: both;
    display: table;
}
.page-footer .info {
    float: left;
}
.page-footer .info img {
    margin-right: 0.5em;
    vertical-align: middle;
    border: 2px solid white;
    box-shadow: 0 0 4px #c0392b;
    transform: rotate(-5deg);
}
.page-footer .copyright {
    float: right;
    padding-top: 20px;
    font-size: 12px;
}