body{
    font-family:Tahoma, sans-serif;
    font-size:18px;
    background: url("/assets/pcourse1/bg.jpg");
}
.btn{
    width:150px;
    padding:15px 20px;
    margin:30px auto;
    text-align:center;
    text-transform:uppercase;
    cursor:pointer;
    color:white;
    background:#3498db;
}
.btn1{
-moz-box-shadow:5px 5px 0 0 #34495e;
-webkit-box-shadow:5px 5px 0 0 #34495e;
box-shadow:5px 5px 0 0 #34495e inset;
}
.btn2{
-moz-box-shadow:0 0 5px 0 #34495e;
-webkit-box-shadow:0 0 5px 0 #34495e;
box-shadow:0 0 5px 0 #34495e inset;
}
.btn3{
-moz-box-shadow:0 0 5px 3px #34495e;
-webkit-box-shadow:0 0 5px 3px #34495e;
box-shadow:0 0 5px 3px #34495e inset;
}

/* НОВЫЙ ПУТИ */
body{
    background: url("../assets/bg.jpg");
}
