html,body{
    font-family:Arial, sans-serif;
    font-size:18px;
    background:white;
    padding:0;
    margin:0;
    width:300px;
}
.btn{
    width:150px;
    padding:15px 20px;
    margin:35px auto;
    text-align:center;
    text-transform:uppercase;
    cursor:pointer;
    color:white;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    /*background:#bdc3c7;*/
    background:#2C3E50;
    /*-webkit-box-shadow:5px 5px #e74c3c;*/
    /*-moz-box-shadow:5px 5px #e74c3c;*/
    /*box-shadow:5px 5px #e74c3c;*/
}
.btn1{
    -webkit-box-shadow:3px 6px #e74c3c;
    -moz-box-shadow:3px 6px #e74c3c;
    box-shadow:3px 6px #e74c3c;
}
.btn2{
    background:#e74c3c;
    -webkit-box-shadow:0px 5px 5px 0px #2C3E50;
    -moz-box-shadow:0px 5px 5px 0px #2C3E50;
    box-shadow:0px 5px 5px 0px #2C3E50;
}
.btn3{
    -webkit-box-shadow:inset 0 0 0px 4px #e74c3c;
    -moz-box-shadow:inset 0 0 0px 4px #e74c3c;
    box-shadow:inset 0 0 0px 4px #e74c3c;
}