html,
body {
    height: 100%;
}

.table-layout {
    display: table;
    width: 100%;
    height: 100%;
}

header, 
footer {
    display: table-row;
    height: 1px;
}

main {
    display:table;
    border-spacing: 10px;
    width:100%;
    height:100%;
}
.content, .side {
    display:table-cell;
}
.side {
    width:100px;
}