html, body{
    margin:0;
    padding:0;
}
body{
    width:450px;
    height:300px;
    font-family:'Arial', sans-serif;
    font-size:12px;
}
.gallery{
    padding-top:10px;
    text-align:center;
    font-size:0px;
}
.gallery .item{
    display:inline-block;
    text-align:left;
    font-size:12px;
    width:125px;
    margin:0 10px;
    margin-bottom:10px;
}
.gallery .title{
    margin-bottom:5px;
    line-height:14px;
}
.gallery .frame{
    background:#ECF0F1;
    border:1px solid black;
    padding-top:10px;
}
.gallery .image{
    height:70px;
    background-position:50% 50%;
    border-top:1px solid black;
    border-bottom:1px solid black;
    background-repeat:no-repeat;
}
.gallery .image-1{
    background-color:#2ECC71;
    background-image:url('cat_box.png');
}
.gallery .image-2{
    background-color:#3498DB;
    background-image:url('cat_fish.png');
}
.gallery .image-3{
    background-color:#f1c40f;
    background-image:url('cat_purr.png');
}
.gallery .image-4{
    background-color:#E67E22;
    background-image:url('cat_walk.png');
}
.gallery .image-5{
    background-color:#E74C3C;
    background-image:url('cat_drunk.png');
}
.gallery .date{
    color:#666;
    font-style:italic;
    font-size:11px;
    padding:5px;
}