/* Используемые цвета:

#777777
#ffffff
#fffebc
#b2fdd0
#ffbaba

*/

.formula {
    display:table;
    margin: 10px;
    width: 500px;
    border-collapse: collapse;
}

.formula p {
    display:table-caption;
    caption-side:bottom;
    text-align:center;
    margin: 0;
    padding: 10px;
    font-size: 20px;
}

.formula header {
    display:table-header-group;
    background:#ffffff;
}
.formula .content {
    display:table-row-group;
}
.formula .content-important {
    background:#fffebc;
}
.formula .column-group{
    display:table-column-group;
    background:#b2fdd0;
}
.formula .column{
    display:table-column;
}
.formula .column-last{
    background:#ffbaba;
}

.formula ul{
    display:table-row;
}
.formula li{
    display:table-cell;
    border:1px solid #777777;
    padding:5px;
    text-align:center;
    vertical-align:middle;
}