body {
    background-color: #f5f5f5;
}

.flag {
    margin: 100px auto;
    width: 360px;
    height: 240px;
    box-shadow: 1px 1px 3px #333;
    background-image: linear-gradient(
        #ffffff 33%,
        /*#1199FF 33%,*/
        #0039A6 33%,
        #0039A6 66%,
        #D52B1E 66%
    );
}