.portrait {
    box-sizing: border-box;
    margin: 20px auto 0;
    padding: 40px;
    width: 400px;
    height: 400px;
    border: 40px solid rgba(255, 255, 0, 0.4);
    background-color:  #ffffff;
    background-image:
        url("../assets/img/glasses.svg"),
        url("../assets/img/keks.jpg");
    background-repeat: no-repeat;
    background-position:
        75px 125px,
        center;
    background-origin: border-box;
    background-clip: padding-box;
    background-size:
        150px,
        cover;
        
    /*outline:20px solid silver;*/
    /*outline:20px ridge silver;*/
    outline:20px groove silver;
    /*outline-offset:10px;*/
    outline-offset:-40px;
}