.spot {
    display: flex;
    padding: 10px 0;
    height: 100px;
}

.spot-1 {
    width: 300px;
}

.spot-1 .skate {
    flex-basis: 0;
    min-width: 50px;
}

.spot-1 .racoon-green {
    flex-grow: 1;
}

.spot-1 .racoon-brown {
    flex-grow: 2;
}

.spot-2 {
    width: 500px;
}

.spot-2 .skate {
    flex-basis: 0;
    min-width: 50px;
}

.spot-2 .racoon-green {
    flex-grow: 2;
}

.spot-2 .racoon-brown {
    flex-grow: 3;
}
