input:required {
    border: 1px solid #e74c3c;
    background: url('../assets/required.png') no-repeat right 50%;
}

input[type="number"]{
    background:white;
    /*background-image:url('');*/
}
input:required:valid{
    background:#94E6B6;
    border-color:#2ecc71;
}
input[value*="Кекс"]{
    color:#fff;
}