label {
    position: relative;
    cursor: pointer;
    max-width: 100px;
    display: inline-block;
    word-wrap: break-word;
}

label::before,
label::after{
    position: absolute;
    display: block;
    content: '';
}

input[type="checkbox"] {
    display:none;
}