html, body{
    margin:0;
    padding:0;
}
body{
    width:280px;
    min-height:280px;
    padding:10px;
    font-family:Arial, sans-serif;
    font-size:14px;
    line-height:1.4;
    background:#ecf0f1;
}
.main-menu{
    list-style:none;
    padding:0px;
    margin:0px;
    width:200px;
}
.main-menu li{
    /*float:left;*/
    padding:10px 15px;
    border-bottom:#2C3E50 solid 2px;
    background:#2980B9;
}
.main-menu li:hover,
.main-menu .active{
    border-bottom:#2ECC71 solid 2px;
    background:#1ABC9C;
}
.main-menu a{
    text-decoration:none;
    color:white;
}