.arrow-right-long {
    position: relative;
    margin: 150px auto;
    width: 200px;
    height: 30px;
    background: #0074d9;
}

.arrow-right-long::after {
    position: absolute;
    content: '';
    border:40px solid #fff;
    top:-25px;
    right:-30px;
    border-right-width:0;
    border-left-color:#0074d9;
    border-bottom-color:transparent;
    border-top-color:transparent;
}