.robot {
    animation-name: move;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.robot.constructor{
    /*animation-timing-function:steps(5,start);*/
    animation-timing-function:steps(5,end);
}

@keyframes move {
    to {
        left: 400px;
    }
}