body {
  margin: 0;
  padding: 10px 0 0;
  background: url("img/pattern.png");
}
.image {
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 13px 13px 31px 13px;
  min-height: 235px;
  width: 220px;
  background: url("img/polaroid.png");
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.image img {
  width: 100%;
  height: 100%;
}
.compare {
  margin: 10px 0 0;
  width: 100%;
}
.compare, .image.text {
  font-size: 0;
}
.compare-text .compare-left, .compare-text .compare-right {
  font-size: 14px;
}
.compare-left, .compare-right {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.compare-single {
  margin: 15px auto;
  width: 90%;
  border: 10px solid #ffffff;
}
.compare-single img {
  display: block;
  width: 100%;
}
.symbol img {
  display: block;
  margin: 0 auto;
  width: 80%;
}
.image p {
  margin: 10px 0 0 0;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  font-family: sans-serif;
}
.text .image, .image.text {
  padding-bottom: 10px;
}
.finale {
  margin: 0 auto;
  width: 465px;
  font-size: 0;
}
.finale div {
  display: inline-block;
  width: 155px;
  height: 155px;
  vertical-align: top;
}
.finale img {
  width: 100%;
}
.finale.wide {
  margin: 0 auto;
  width: 100%;
  font-size: 0;
}
.finale.wide div {
  margin: 10px 0 0 20px;
  width: 160px;
  height: 290px;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.finale.wide img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 290px;
  transform: translateX(-50%);
}
.combo-1 {
  background-image: url("img/spb-3.jpg");
}
.combo-2 {
  background-image: url("img/spb-1.jpg");
}
.combo-3 {
  background-image: url("img/spb-6.jpg");
}
.exam {
  margin: 0;
  padding: 0;
  width: 550px;
  height: 310px;
}
.compare-single {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.bubble {
  position: relative;
  margin: 20px 50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: -webkit-linear-gradient(bottom, #f0f0f0, #ffffff);
  background: linear-gradient(to top, #f0f0f0, #ffffff);
  text-align: center;
  font-size: 30px;
  line-height: 200px;
}
.bubble::after {
  position: absolute;
  top: 0;
  left: 0;
  border-width: 30px 20px 0;
  border-style: solid;
  border-color: #f0f0f0 transparent;
  content: "";
  -webkit-transform: translate(160px, 160px) rotate(-45deg);
  -ms-transform: translate(160px, 160px) rotate(-45deg);
  transform: translate(160px, 160px) rotate(-45deg);
}
