body{
    font-family:Tahoma, sans-serif;
    font-size:18px;
    background: url("/assets/pcourse1/bg.jpg");
}
.btn{
    width:150px;
    padding:15px 20px;
    margin:50px auto;
    text-align:center;
    text-transform:uppercase;
    cursor:pointer;
    color:white;
    background:#3498db;
}
.btn1{
    -moz-box-shadow:0 5px 5px -3px #34495e;
    -webkit-box-shadow:0 5px 5px -3px #34495e;
    box-shadow:0 5px 5px -3px #34495e;
}
.btn2{
    -moz-box-shadow:inset 0 -30px 30px -30px #34495e;
    -webkit-box-shadow:inset 0 -30px 30px -30px #34495e;
    box-shadow:inset 0 -30px 30px -30px #34495e;
}
/*.btn1{*/
/*    -moz-box-shadow:0 0 5px 0 #34495e;*/
/*    -webkit-box-shadow:0 0 5px 0 #34495e;*/
/*    box-shadow:0 0 5px 0 #34495e;*/
/*}*/
/*.btn2{*/
/*    -moz-box-shadow:inset 0 0 10px 0 #34495e;*/
/*    -webkit-box-shadow:inset 0 0 10px 0 #34495e;*/
/*    box-shadow:inset 0 0 10px 0 #34495e;*/
/*}*/

/* НОВЫЙ ПУТИ */
body{
    background: url("../assets/bg.jpg");
}
