
body{
    font-family:Tahoma, sans-serif;
    font-size:16px;
/*    background: url("../blog-cat-content/bg.jpg");*/
}
article{
	margin:00px auto;
	padding:20px;
	width:95%;
	min-width:250px;
	max-width:2000px;
/*	border:10px solid #ccc;*/
}
article:after{
	clear:both;
	display:table;
	content:'';
}
article>h1{
/*	float:left;*/
	text-align:center;
	Color:#999;
	text-transform:uppercase;
	font-style:italic;
	font-size:45px;
}


section.punkt{
	display:inline-block;
	float:left;
	position:relative;
	padding:10px;
	margin:20px auto;
	background:#eee;
/*	border:5px solid #555;*/
	border-radius:10px;
}
/*
section.punkt:after{
	clear:both;
	display:block;
	content:'';
}*/
section.punkt>h2{
	float:left;
	display:block;
	margin:10px;
	margin-bottom:20px;
}
section.button_example{
	clear:both;
	float:left;
	padding:10px;
	margin:20px;
/*	border:5px solid #888;*/
	border-radius:10px;
	min-width:300px;
	width:400px;
	max-width:600px;
	height:300px;
}
section.comment:before{
	content:'COMMENT';
	font-weight:bold;
	font-style:italic;
	color:grey;
}
section.comment{
	float:left;
	padding:10px 20px;
	margin:20px;
	min-width:300px;
	max-width:500px;
/*	background:rgba(250,250,250,0.4);
	border:2px solid grey;
	border-radius:5px;*/
}
.code_example{
	white-space:pre;
	padding:00px 0px;
	background:rgba(250,250,250,0.4);
/*	border:2px solid #ccc;*/
}



.unit01 .button_example{
    font-family:Tahoma, sans-serif;
    font-size:18px;
    background:black;
	min-height:300px;
	border:2px solid black;
}
.unit01 .btn{
    width:150px;
    padding:15px 20px;
    margin:100px auto;
    text-align:center;
    text-transform:uppercase;
    cursor:pointer;
    color:white;
    background:#34495e;
    box-shadow:
        0 -5px 10px -3px #3498db,
        0 5px 10px -3px #2ecc71;
}



.unit02 .button_example{
    font-family:Tahoma, sans-serif;
    font-size:18px;
    background: url("../blog-cat-content/bg.jpg");
	height:300px;
}
.unit02 .btn{
    width:150px;
    padding:15px 20px;
    margin:100px auto;
    text-align:center;
    text-transform:uppercase;
    cursor:pointer;
    color:white;
    background:#34495e;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    box-shadow:
        0 0 0 5px #e74c3c,
        0 0 0 10px #f1c40f,
        0 0 0 15px #2ecc71;
}



.unit03 .button_example{
    padding:20px;
    background:white;
}
.unit03 .circle{
    width:100px;
    height:100px;
    margin:10px auto;
    -moz-border-raduis:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    box-shadow:
        inset -5px -5px 5px 3px white,
        inset 0 0 0 9px #6c6d70,
        inset 0 0 0 10px black;
}






.unit04 .button_example{
    padding:20px;
    background:white;
}
.unit04 .circle{
    width:100px;
    height:100px;
    margin:10px auto;
    -webkit-box-shadow:
        inset -5px -5px 5px 3px white,
        inset 0 0 0 9px #6c6d70,
        inset 0 0 0 10px black;
    -moz-box-shadow:
        inset -5px -5px 5px 3px white,
        inset 0 0 0 9px #6c6d70,
        inset 0 0 0 10px black;
    box-shadow:
        inset 2px 2px 2px white,
        inset 0 0 0 4px #4f5054,
        inset 0 0 0 5px black,
        inset -5px -5px 5px 3px white,
        inset 0 0 0 9px #6c6d70,
        inset 0 0 0 10px black;
    -moz-border-raduis:50%;
    -webkit-border-radius:50%;
    border-radius:50%;        
}






.unit05 .button_example{
    padding:20px;
    background:white;
}
.unit05 .logo{
    width:280px;
    margin:50px auto;
}
.unit05  .logo div{
    position:absolute;
}
.unit05 .logo .c1{
    margin-left:0;
}
.unit05 .logo .c2{
    margin-left:60px;
}
.unit05 .logo .c3{
    margin-left:120px;
}
.unit05 .logo .c4{
    margin-left:180px;
}
.unit05 .circle{
    width:100px;
    height:100px;
    margin:10px auto;
    -webkit-box-shadow:
        inset 2px 2px 2px 0 white,
        inset 0 0 0 4px #4f5054,
        inset 0 0 0 5px black,
        inset -5px -5px 5px 3px white,
        inset 0 0 0 9px #6c6d70,
        inset 0 0 0 10px black;  
    -moz-box-shadow:
        inset 2px 2px 2px 0 white,
        inset 0 0 0 4px #4f5054,
        inset 0 0 0 5px black,
        inset -5px -5px 5px 3px white,
        inset 0 0 0 9px #6c6d70,
        inset 0 0 0 10px black;  
    box-shadow:
        inset 2px 2px 2px 0 white,
        inset 0 0 0 4px #4f5054,
        inset 0 0 0 5px black,
        inset -5px -5px 5px 3px white,
        inset 0 0 0 9px #6c6d70,
        inset 0 0 0 10px black;  
    -moz-border-raduis:50%;
    -webkit-border-radius:50%;
    border-radius:50%;        
}






.unit06 .button_example{
	font-family:Arial, sans-serif;
    font-size:18px;
    background:white;
    padding:0;
    margin:0;
    width:450px;
/*    background:#ecf0f1;*/
	border-radius:5px;
}
.unit06 .btn{
    position:relative;
    width:250px;
    padding:20px 0;
    margin:0 auto;
    margin-top:100px;
    line-height:20px;
    text-align:center;
    text-transform:uppercase;
    cursor:pointer;
    color:white;
    background:#2c3e50;
    box-shadow:
         0px -20px 0px -10px #c0392b,
         0px -40px 0px -20px #e74c3c,
         0px 20px 0px -10px #2980b9,
         0px 40px 0px -20px #3498db;    ;
}
.unit06 .btn:after{
    position:absolute;
    top:0px;
    left:125px;
    width:250px;
    height:5px;
    content:'';
    box-shadow:
         -125px 0px 0px 0px #2ecc71,
        inset 125px 0px 0 0 #16a085;
}
.unit06 .btn:before{
    position:absolute;
    top:55px;
    left:125px;
    width:250px;
    height:5px;
    content:'';
    box-shadow:
         -125px 0px 0px 0px #16a085,
        inset 125px 0px 0 0 #2ecc71;
}





.unit00 .button_example{

}
.unit00 .btn{

}






.unit00 .button_example{

}
.unit00 .btn{

}






.unit00 .button_example{

}
.unit00 .btn{

}






.unit00 .button_example{

}
.unit00 .btn{

}






.unit00 .button_example{

}
.unit00 .btn{

}






.unit00 .button_example{

}
.unit00 .btn{

}






.unit00 .button_example{

}
.unit00 .btn{

}






.unit00 .button_example{

}
.unit00 .btn{

}






.unit00 .button_example{

}
.unit00 .btn{

}






.unit00 .button_example{

}
.unit00 .btn{

}



