.spot {
    display: flex;
    margin-left: 30px;
    padding: 10px 0;
    width: 300px;
    height: 200px;
}

.racoon-green {
    flex-shrink: 0;
    flex-basis: 250px;
}

.racoon-brown {
    flex-shrink: 0;
    flex-basis: 250px;
}
