.fireball-1 {
    transform:translate(310px);
}

.fireball-2 {
    transform:translate(00px, -190px);
}

.fireball-3 {
    transform:translate(290px, -190px);
}

.wizard {
    top: 244px;
    left: 30px;
}