.pattern {
    width: 100px;
    height: 100px;
    margin: 100px auto;
    background-image:
        linear-gradient(135deg, white 25%, transparent 25%),
        linear-gradient(225deg, white 25%, transparent 25%),
        /* третий градиент */
        linear-gradient(45deg, white 25%, transparent 25%),
        /* четвёртый градиент */
        linear-gradient(315deg, white 25%, transparent 25%);
        
    background-color: #333;
    box-shadow: 1px 1px 3px #333;
}

html, body {
  margin: 0;
  padding: 0;
}