form {
    margin: 0 auto;
    padding: 20px;
    width: 300px; 
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
}
fieldset {
    padding: 10px;
    border: 1px solid #34495e;
    border-radius: 5px;
}
fieldset legend{
    color: #34495e;
}
label {
    display: block;
    margin-bottom: 5px;
}
input,
select {
    margin-bottom: 10px;
    padding: 2px 5px;
    width: 95%;
    height: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: middle;
    font-family: "Roboto";
}
select[multiple] {
    height: 60px;
}
input[type="submit"] { 
    display: inline-block;
    margin: 0 5px;
    padding: 6px 15px;
    width: auto;
    height: auto;
    border: none;
    border-radius: 5px;
    background: #2c3e50;
    color: #fff;
}
.one-third-width {
    width: 33.3%;
}
.two-third-width {
    width: 66.6%;
}
.half-width {
    width: 50%;
}
.one-third-width,
.two-third-width, 
.half-width {
    display: inline-block;
    margin-right: -4px;
}
.one-third-width input,
.two-third-width select {
    width: 80%;
}
.half-width input {
    width: 80%;
}
.half-width input[type="range"] {
    width: 65%;
}
.buttons {
    margin-top: 10px;
    text-align: center;
}
main {
    min-height: 400px;
}