.photo {
    background-image: url("../assets/img/spb-4.jpg");
}

.walden {
    filter:
        contrast(0.9) 
        brightness(1.2) 
        hue-rotate(-20deg) 
        saturate(1.7) 
        sepia(0.4);
}