.spot {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.skate {
    padding: 10px; /* added 2 task */
    min-width: 40px;
    min-height: 120px;
    width: 75px; /* added 1 task */
    height: 300px; /* added 1 task */
    border-color: white;
    border-top-left-radius: 75% 25%;
    border-top-right-radius: 75% 25%;
    border-bottom-right-radius: 75% 25%;
    border-bottom-left-radius: 75% 25%;
    background-clip: content-box;
}

.skate::after {
    left: 50%;
    margin-left: -10px;
}

.skate-2 {
    box-sizing: border-box; /* added 3 task */
}
