@keyframes rotate {
    50% {
        transform: rotate(360deg);
    }    
}

@keyframes move {
    50% {
        bottom:0px;
    }    
    100% {
        bottom:-50px;
    }    
}

.stone-wheel {
    animation-name: rotate, move;
    animation-duration: 3s, 6s;
}