html, body{
    margin:0;
    padding:0;
}
body{
/*    width:450px;
    height:300px;*/
    padding-top:20px;
    font-size:16px;
    font-family:"Tahoma", sans-serif;
    line-height:1.3;
    background:#34495e;
}
.login-form{
/*    margin:00px 35px;*/
    margin:50px auto auto auto;
    width:300px;
    padding:20px 40px 30px 40px;
    background:#ffffff;
}
.login-form .tittle{
    font-size:20px;
    margin-bottom:15px;
}
.login-form, .text{
    display:block;
    font-weight:bold;
    font-size:12px;
    font-family:"Tahoma", sans-serif;
    text-transform:uppercase;
}
.text-field{
    position:relative;
    text-transform:capitalize;
    background:#f9f6f3;
    border:2px solid black;
    padding:10px 35px 10px 15px;
    margin:10px 2px 00px 0px;
    box-sizing:border-box;
    width:99.7%;
}
.login-form input[type="text"]{
    background-image:url('img/icon-user.png');
    background-repeat:no-repeat;
    background-position:96.5% 50%;
}
.login-form input[type="password"]{
    background-image:url('img/icon-lock.png');
    background-repeat:no-repeat;
    background-position:96.5% 56%;
}
.login-form .checkreset{
    margin:15px 0px 20px;
    position:relative;
}
.login-form input[type="checkbox"]{
    float:left;
    vertical-align:middle;
    margin-right:9px;
}
.login-form a{
    float:right;
    color:black;
}
.login-form input[type="submit"]{
    display:block;
    background:#000000;
    color:#ffffff;
    border:0px solid black;
    padding:15px;
    margin-top:-1px;
    /*margin:10px 0px 10px 0px;*/
    width:100%;
}
/*
Ђдреса иконок:
/assets/ifmo/icon-user.png
/assets/ifmo/icon-lock.png
–вет фона полей:
#f9f6f3
–вет кнопки:
#000000
”он формы:
#ffffff
*/