body {
    background-color: #f5f5f5;
}

.flag {
    margin: 100px auto;
    width: 360px;
    height: 240px;
    box-shadow: 1px 1px 3px #333;
    /*background-image: none;*/
    background-image: linear-gradient(to bottom, #FFFFFF 25%, #1199FF 50%, #0039A6 75%, #D52B1E 100%);
}