.bell {
    animation-name: ding;
    animation-duration: 100ms; 
    animation-delay:1s;
    animation-iteration-count:10;
}

.arrow-small {
    animation-name: rotate;
    animation-duration: 1s;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes ding {
    33% {
        transform: translateX(-15px); 
    }
    66% {
        transform: translateX(15px);
    }
}