.checklist {
    display: table;
}

.checklist ul {
    display: table-row;
}

.checklist li {
    display: table-cell;
}

.checklist h1 {
    display: table-caption;
}

.checklist header {
    display: table-header-group;
}

.checklist header li {
    border-color: #3D9970;
}

.checklist footer {
    display: table-footer-group;
}

.checklist footer li {
    border-color: #0074D9;
}

.checklist .content {
    display: table-row-group;
}

.checklist .content li {
    border-color: #FF851B;
}

.checklist .content-important li {
    border-color: #ff4136;
}