body {
    font-family: Arial, sans-serif;
    color: #FFF3E3;
    background: url('../assets/glass.jpg') no-repeat 50% 0;
}

p {
    font-size: 50px;
    margin-left: 150px;

	text-align:center;
}

p:nth-child(1) {
    margin-top: 150px;
    color: #000;
    text-shadow: 2px 2px 8px #333;
}

p:nth-child(2) {
    text-shadow: 2px 2px 8px #f90;
}

span {
    position: absolute;
    top: 370px;
/*    left: 120px; */
	left:35%;
    font-size: 100px;
}