body {
    font-family: Arial, sans-serif;
    color: #444;
    background: url('../assets/lens.jpg') no-repeat 50% 0;
}

h1 {
    margin: 50px;
    font-size: 55px;
    font-weight: normal;
    text-transform: uppercase;
    
    text-shadow:
        2px 2px 0px #e5d4c0,
        4px 4px 0px rgba(0, 0, 0, 0.2);
		
	text-align:center;
}

span {
    position: absolute;
    top: 150px;
/*    left: 50px;*/
	left:35%;
    font-size: 100px;    
}