.frame_example{
    margin:0;
    padding:0;
	background: url('sukno.jpg') repeat;
    min-width: 350px;
    padding: 10px 0px 20px;
}
.frame_example .cards{
    list-style:none;
	margin: 10px 10px 0;
	padding: 0;
	text-align: center;
	letter-spacing: 0;
	word-spacing: 0;
	vertical-align: top;
	padding: 0;
	position: relative;
}
.frame_example li{
    display: inline-block;
	border-radius: 3px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.8);
	width: 40px;
	height: 60px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
	vertical-align: middle;
	background: #fff;
	text-align: center;
}
.frame_example li span{
	font-size: 40px;
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 40px;
    margin-top: -25px;
	display: none;
}
.frame_example .icon{
	position: absolute;
	width: 12px;
	height: 12px;
	padding-bottom: 14px;
	font-size: 11px;
	font-weight: bold;
}
.frame_example li:before {
	position: absolute;
	width: 12px;
	height: 12px;
	padding-bottom: 14px;
	font-size: 11px;
	font-weight: bold;
	top: 0;
	left: 0;
}
.frame_example  li:after {
	position: absolute;
	width: 12px;
	height: 12px;
	padding-bottom: 14px;
	font-size: 11px;
	font-weight: bold;
	bottom: 0;
	right: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.frame_example  .heart,
.frame_example  .dimond,
.frame_example .diamond {
	color: #e50000;
}
.frame_example .club,
.frame_example .spade {
	color: #050405;
}
.frame_example .king:before,
.frame_example  .king:after  {
	content: 'K';
}
.frame_example  .ace:before,
.frame_example  .ace:after {
	content: 'A';
}
.frame_example  .queen:before,
.frame_example  .queen:after {
	content: 'Q';
}
.frame_example .jack:before,
.frame_example .jack:after {
	content: 'J';
}
.frame_example .ten:before,
.frame_example .ten:after {
	content: '10';
}
.frame_example .nine:before,
.frame_example .nine:after {
	content: '9';
}
.frame_example .eight:before,
.frame_example .eight:after {
	content: '8';
}
.frame_example .seven:before,
.frame_example .seven:after {
	content: '7';
}
.frame_example .six:before,
.frame_example .six:after {
	content: '6';
}
.frame_example .five:before,
.frame_example .five:after {
	content: '5';
}
.frame_example .four:before,
.frame_example .four:after {
	content: '4';
}
.frame_example .three:before,
.frame_example .three:after {
	content: '3';
}
.frame_example .two:before,
.frame_example .two:after {
	content: '2';
}
.frame_example .heart:before,
.frame_example .heart:after {
	background: url('hearts.png') no-repeat 50% bottom;
}
.frame_example .dimond:before,
.frame_example .dimond:after,
.frame_example .diamond:before,
.frame_example .diamond:after {
	background: url('dimonds.png') no-repeat 50% bottom;
}
.frame_example .club:before,
.frame_example .club:after {
	background: url('clubs.png') no-repeat 50% bottom;
}
.frame_example .spade:before,
.frame_example .spade:after {
	background: url('spades.png') no-repeat 50% bottom;
}

.frame_example #card{
    display: block;
	border-radius: 5px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.8);
	width: 160px;
	height: 240px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
	vertical-align: top;
	background-color: #fff !important;
	margin: 0 auto;
	margin-top: 30px;
}
.frame_example #card:before {
}
.frame_example #card:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.frame_example p {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	font-size: 12px;
}
.frame_example .paper {
	margin: 20px;
	padding: 15px;
	background: #fff;

}
.frame_example h1 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0 0 10px;
	font-size: 16px;
}
.frame_example a {
	color: #0088CC;
}
.frame_example a:hover {
	text-decoration: none;
}
.frame_example img.right {
	float: right;
	margin: 5px 0 10px 10px; 
}
.frame_example img.left {
	float: left;
	margin: 5px 10px 10px 0; 
}

.frame_example .two-cards{
    padding: 10px;
	text-align: center;
}
.frame_example .two-cards div{
	border-radius: 5px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.8);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	vertical-align: middle;
}