body{
    margin:0;
    padding:0;
	background: url('sukno.jpg') repeat;
    min-width: 350px;
    padding: 10px 0px 20px;
}
.cards{
    list-style:none;
	margin: 10px 10px 0;
	padding: 0;
	text-align: center;
	letter-spacing: 0;
	word-spacing: 0;
	vertical-align: top;
	padding: 0;
	position: relative;
}
li{
    display: inline-block;
	border-radius: 3px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.8);
	width: 40px;
	height: 60px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
	vertical-align: middle;
	background: #fff;
	text-align: center;
}
li span{
	font-size: 40px;
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 40px;
    margin-top: -25px;
	display: none;
}
.icon{
	position: absolute;
	width: 12px;
	height: 12px;
	padding-bottom: 14px;
	font-size: 11px;
	font-weight: bold;
}
li:before {
	position: absolute;
	width: 12px;
	height: 12px;
	padding-bottom: 14px;
	font-size: 11px;
	font-weight: bold;
	top: 0;
	left: 0;
}
li:after {
	position: absolute;
	width: 12px;
	height: 12px;
	padding-bottom: 14px;
	font-size: 11px;
	font-weight: bold;
	bottom: 0;
	right: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.heart,.dimond, .diamond {
	color: #e50000;
}
.club,.spade {
	color: #050405;
}
.king:before,.king:after  {
	content: 'K';
}
.ace:before,.ace:after {
	content: 'A';
}
.queen:before,.queen:after {
	content: 'Q';
}
.jack:before,.jack:after {
	content: 'J';
}
.ten:before,.ten:after {
	content: '10';
}
.nine:before,.nine:after {
	content: '9';
}
.eight:before,.eight:after {
	content: '8';
}
.seven:before,.seven:after {
	content: '7';
}
.six:before,.six:after {
	content: '6';
}
.five:before,.five:after {
	content: '5';
}
.four:before,.four:after {
	content: '4';
}
.three:before,.three:after {
	content: '3';
}
.two:before,.two:after {
	content: '2';
}
.heart:before,.heart:after {
	background: url('hearts.png') no-repeat 50% bottom;
}
.dimond:before,.dimond:after, .diamond:before,.diamond:after {
	background: url('dimonds.png') no-repeat 50% bottom;
}
.club:before,.club:after {
	background: url('clubs.png') no-repeat 50% bottom;
}
.spade:before,.spade:after {
	background: url('spades.png') no-repeat 50% bottom;
}

#card{
    display: block;
	border-radius: 5px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.8);
	width: 160px;
	height: 240px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
	vertical-align: top;
	background-color: #fff !important;
	margin: 0 auto;
	margin-top: 30px;
}
#card:before {
}
#card:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

p {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	font-size: 12px;
}
.paper {
	margin: 20px;
	padding: 15px;
	background: #fff;

}
h1 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0 0 10px;
	font-size: 16px;
}
a {
	color: #0088CC;
}
a:hover {
	text-decoration: none;
}
img.right {
	float: right;
	margin: 5px 0 10px 10px; 
}
img.left {
	float: left;
	margin: 5px 10px 10px 0; 
}

.two-cards{
    padding: 10px;
	text-align: center;
}
.two-cards div{
	border-radius: 5px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.8);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	vertical-align: middle;
}