
body{
    font-family:Tahoma, sans-serif;
    font-size:16px;
/*    background: url("../blog-cat-content/bg.jpg");*/
}
article{
	margin:00px auto;
	padding:20px;
	width:95%;
	min-width:250px;
	max-width:2000px;
/*	border:10px solid #ccc;*/
}
article:after{
	clear:both;
	display:table;
	content:'';
}
article>h1{
/*	float:left;*/
	text-align:center;
	Color:#999;
	text-transform:uppercase;
	font-style:italic;
	font-size:45px;
}


section.punkt{
	display:inline-block;
	float:left;
	position:relative;
	padding:10px;
	margin:20px auto;
	background:#eee;
/*	border:5px solid #555;*/
	border-radius:10px;
}
/*
section.punkt:after{
	clear:both;
	display:block;
	content:'';
}*/
section.punkt>h2{
	float:left;
	display:block;
	margin:10px;
	margin-bottom:20px;
}
section.frame_example{
	clear:both;
	float:left;
	padding:10px;
	margin:20px;
/*	border:5px solid #888;*/
	border-radius:10px;
	min-width:300px;
	width:400px;
	max-width:800px;
	min-height:300px;
}
p.comment_number{
	font-weight:bold;
	font-style:italic;
	color:grey;
}
section.comment{
	float:left;
	padding:10px 20px;
	margin:20px;
	min-width:300px;
	max-width:500px;
/*	background:rgba(250,250,250,0.4);
	border:2px solid grey;
	border-radius:5px;*/
}

code{
	color:red;
	border:1px solid #bbb;
	background:#eee;
	border-radius:5px;
}
.code_example{
/*	white-space:pre;*/
	display:inline-block;
	width:90%;
	padding:10px 30px;
	background:rgba(250,250,250,0.6);
	color:black;
	border:1px solid #aaa;
}
.tasks{
	float:left;
	white-space:pre;
	padding:10px 20px;
}

.tasks_{
	float:left;
	white-space:wrap;
	padding:10px 20px;
	
}





.unit01 .queen.spade{
    background:#ffff99;
}
.unit01 .cards .heart:first-child{
    background:#99ddff;
}
.unit01 .cards .ace.dimond:last-child{
    background:#aaffaa;
}





.unit02 .cards li:not(.king){
    background:#AAFFAA;
}
.unit02 .cards li:not(.dimond){
    color:#3498db;
}
.unit02 .cards li:not(:first-child){
    font-family:Arial;
}





.unit03 li:first-child:not(.spade){
    background:#FFFF99;
}
/*.unit03 li:not(:first-child):not(:last-child):not(.ace):not(.dimond){*/
/*    background:#99DDFF;*/
/*}*/
.unit03 li:nth-child(4):not(.ace):not(.dimond){
    background:#99DDFF;
}
.unit03 li.heart:not(:first-child):not(.queen):not(.jack){
    background:#aaffaa;
}




/* чтобы ряды подсвечивались целиком,
следите за приоритетами селекторов
или можете удалять селекторы после подсветки
каждого ряда */
.unit04 .cards:nth-last-child(2) li{
    background:#ffff99;
}
.unit04 li:nth-last-child(2) {
    background:#99ddff;
}
.unit04 .cards:nth-last-child(2) li:nth-last-child(2) {
    background:#aaffaa;
}





/* чтобы ряды подсвечивались целиком,
следите за приоритетами селекторов
или можете удалять селекторы после подсветки
каждого ряда */
.unit05 .frame_example{
	height:420px;
}
.unit05 li:first-child{
    background:#ffff99;
}
/*.unit05 ul:nth-child(2) li{*/
/*    background:#99ddff;*/
/*}*/
.unit05 ul:first-of-type li{
    background:#99ddff;
}
.unit05 ul:first-of-type li:first-child{
    background:#aaffaa;
}






/* чтобы ряды подсвечивались целиком,
следите за приоритетами селекторов
или можете удалять селекторы после подсветки
каждого ряда */
.unit06 li:last-child{
    background:#ffff99;
}
.unit06 ul:last-of-type li{
    background:#99ddff;
}
.unit06 ul:last-of-type li:last-child{
    background:#aaffaa;
}






.unit07 ul:nth-of-type(2n) li{
    background:#ffff99;
}
.unit07 ul:nth-of-type(3) li:nth-of-type(3){
    background:#99ddff;
}
.unit07 ul:nth-of-type(1) li:nth-of-type(2n+1){
    background:#aaffaa;
}







/* чтобы ряды подсвечивались целиком,
следите за приоритетами селекторов
или можете удалять селекторы после подсветки
каждого ряда */
.unit08 ul:nth-last-of-type(2) li{
    background:#ffff99;
}
.unit08 li:nth-last-of-type(2){
    background:#99ddff;
}
.unit08 ul:nth-last-of-type(2) li:nth-last-of-type(2){
    background:#aaffaa;
}






.unit09 .king+li{
    background:#ffff99;
}
.unit09 .heart.jack~.ace{
    background:#99ddff;
}
.unit09 .club.king~.heart.jack{
    background:#aaffaa;
}




.unit10 ul:empty{
    height:70px;
    border:2px #55bb99 dashed;
}
.unit10 li:not(:empty){
    width:60px;
    height:90px;
}
.unit10 li:not(:empty) span{
    display:block;
}



.unit11 .frame_example li:only-child{
    width:60px;
    height:90px
}
.unit11 .frame_example ul:only-child{
    padding:10px;
    border:2px dashed #55bb99;
}





.unit12 .frame_example ul:only-of-type{
    padding:10px;
    border:2px dashed #55bb99;
}
.unit12 .frame_example p:only-of-type{
    color:#339966;
}




.unit13 .frame_example .card{
    position: relative;
    width:160px;
    height:240px;
    margin:0 auto;
    margin-top: 30px;
    background-color:white;
    border-radius:5px;
    box-shadow:0px 3px 5px rgba(0,0,0,0.8);
}
.unit13 .frame_example .card:before{
    content:'A';
    font-size:30px;
    color:#e50000;
}





.unit14 .frame_example .card{
    position: relative;
    width:160px;
    height:240px;
    margin:0 auto;
    margin-top: 30px;
    background-color:white;
    border-radius:5px;
    box-shadow:0px 3px 5px rgba(0,0,0,0.8);
}
.unit14 .frame_example .card:before{
    content:'A';
    font-size:30px;
    color:#e50000;
}
.unit14 .frame_example .card:after{
    content:"A";
    font-size:30px;
    color:#e50000;  
}







.unit15 .frame_example .card{
    position: relative;
    width:160px;
    height:240px;
    margin:0 auto;
    margin-top: 30px;
    background-color:white;
    border-radius:5px;
    box-shadow:0px 3px 5px rgba(0,0,0,0.8);
}
.unit15 .frame_example .card:before{
    position:absolute;
    top:5px;
    left:5px;
    padding-bottom:20px;
    content:"A";
    font-size:30px;
    color:#e50000;  
}
.unit15 .frame_example .card:after{
    position:absolute;
    bottom:5px;
    right:5px;
    padding-bottom:20px;
    content:"A";
    font-size:30px;
    color:#e50000;    
}






.unit16 .frame_example .card{
    position: relative;
    width:160px;
    height:240px;
    margin:0 auto;
    margin-top: 30px;
    background-color:white;
    border-radius:5px;
    box-shadow:0px 3px 5px rgba(0,0,0,0.8);
    background:#fff url('big-heart.png') 50% 50% no-repeat;
}
.unit16 .frame_example .card:before{
    content:"A";
    position:absolute;
    top:5px;
    left:5px;
    padding-bottom:20px;
    font-size:30px;
    color:#e50000;  
    background:#fff url('heart.png') 50% 100% no-repeat;
}
.unit16 .frame_example .card:after{
    content:"A";
    position:absolute;
    right:5px;
    bottom:5px;
    padding-bottom:20px;
    font-size:30px;
    color:#e50000;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    transform:rotate(180deg);
    background:#fff url('heart.png') 50% 100% no-repeat;
}










/* В старых версиях Firefox результат
работы псевдоэлементов может не отображаться,
хотя проверки при этом будут работать.
В хроме отображается и результат, и работают проверки.
*/
.unit17 .frame_example p::first-line{
    font-style:italic;
}
.unit17 .frame_example p::first-letter{
    font-size:30px;
    float:left;
    color:red;
    margin-right:5px;
    line-height:30px;
    font-family:'Times New Roman';
}







.unit18 .frame_example {
    margin:0;
    padding:0;
}
.unit18 .frame_example {
/*    width:350px;*/
    height:250px;
    font-family:"Arial";
    line-height:30px;
}
.unit18 .frame_example .two-cards div{
    display:inline-block;
    position:relative;
    width:120px;
    height:180px;
    margin-top:30px;
    margin-right:10px;
    margin-left:10px;
    background:white;
}
/* неочевидная деталь */
.unit18 .frame_example .two-cards div:before, 
.unit18 .frame_example .two-cards div:after{
    position:absolute;
    width: 20px;
    font-size:25px;
    font-weight:bold;
    padding-bottom:20px;
}
/* автоматический поворот нижней иконки */
.unit18 .frame_example .two-cards div:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*
Ссылки на изображения:
/assets/pcourse2/heart-ace.png - большое изображение для червового туза
/assets/pcourse2/heart-icon.png - маленькая иконка червовой масти
/assets/pcourse2/spade-two.png - большое изображение для пиковой двойки
/assets/pcourse2/spade-icon.png - маленькая иконка пиковой масти

Все значения указаны в пикселях и кратны 5
*/
.unit18 .frame_example .two-cards div.ace-heart{
    background:white url('heart-ace.png') no-repeat 50% 50%;
}
.unit18 .frame_example .two-cards div.ace-heart:before,
.unit18 .frame_example .two-cards div.ace-heart:after{
    content:'A';
    color:red;
    background:white url('heart-icon.png') no-repeat 50% 100%;
}
.unit18 .frame_example .two-cards div.ace-heart:before{
    top:5px;
    left:5px;
}
.unit18 .frame_example .two-cards div.ace-heart:after{
    bottom:5px;
    right:5px;
}


.unit18 .frame_example .two-cards div.two-spade{
    background:white url('spade-two.png') no-repeat 50% 50%;
}
.unit18 .frame_example .two-cards div.two-spade:before,
.unit18 .frame_example .two-cards div.two-spade:after{
    content:'2';
    color:black;
    background:white url('spade-icon.png') no-repeat 50% 100%;
}
.unit18 .frame_example .two-cards div.two-spade:before{
    top:5px;
    left:5px;
}
.unit18 .frame_example .two-cards div.two-spade:after{
    bottom:5px;
    right:5px;
}








.unit19 .frame_example {
    margin:0;
    padding:0;
}
.unit19 .frame_example {
    min-width:350px;
    min-height:260px;
    padding:10px 0px 20px;
}
.unit19 .frame_example li:nth-of-type(2),
.unit19 .frame_example li:nth-of-type(3),
.unit19 .frame_example li:nth-of-type(5),
.unit19 .frame_example li:nth-of-type(6),
.unit19 .frame_example li:nth-of-type(7),
.unit19 .frame_example li:nth-of-type(8),
.unit19 .frame_example li:nth-of-type(9){
    margin-left:-15px;
}
.unit19 .frame_example li:not(:nth-of-type(4)){
    width:36px;
    height:54px;
}
.unit19 .frame_example li:nth-of-type(4){
    margin-right:30px;
    margin-left:15px;
}
.unit19 .frame_example li:nth-of-type(4) ~ li.heart{
    background:#ffcccc;
}
.unit19 .frame_example ul.cards:not(:last-of-type) li.diamond:not(:nth-of-type(4)){
    background:#ccffcc;
}
.unit19 .frame_example ul.cards:not(:nth-of-type(2)) li:nth-of-type(2){
    background:#ccffff;
}
.unit19 .frame_example ul.cards:last-of-type li:nth-of-type(3n){
    background:#ffffcc;
}








.unit20 .frame_example.initial {
/*    width:350px;*/
    padding-top:10px;
    padding-bottom:20px;
}
.unit20 .frame_example.initial .cards{
    text-align:left;
}
.unit20 .frame_example.initial .cards li{
    width:37px;
    height:55px;
}











.unit20 .frame_example.final {
	clear:none;
/*    width:350px;*/
    padding-top:10px;
    padding-bottom:20px;
}
.unit20 .frame_example.final .cards{
    text-align:left;
}
.unit20 .frame_example.final .cards li{
    width:37px;
    height:55px;
}
.unit20 .frame_example.final li:not(:first-of-type){
    margin-left:-20px;
}
.unit20 .frame_example.final ul:after{
    display:block;
    position:absolute;
    right:0;
    top:0;
    width:37px;
    height:55px;
    border:1px dashed #33bb33;
    content:"";
    border-radius:5px;
}
.unit20 .frame_example.final li:nth-of-type(4n-3):not(:last-of-type){
    background:#ffcccc;
}
.unit20 .frame_example.final li:nth-last-of-type(4n){
    background:#ccffcc;
}
.unit20 .frame_example.final ul:nth-of-type(2n) li:nth-of-type(4n){
    background:#ccccff;
}
.unit20 .frame_example.final ul:not(:last-of-type) li:nth-of-type(4n-1){
    background:#ccffff;
}
.unit20 .frame_example.final ul:nth-of-type(1) li:nth-of-type(2n){
    background:#ffffcc;
}
.unit20 .frame_example.final ul:nth-of-type(3) li:nth-of-type(4n){
    background:#ffccff;
}
.unit20 .frame_example.final ul:nth-of-type(4) li:nth-of-type(3){
    background:#ffffff;
}




