.portrait {
    margin: 20px auto 0;

    /*width: 400px;*/
    width: 500px;

    height: 400px;
    background-color: #ffffff;
    background-image: url("../assets/img/keks.jpg");

    /*background-repeat: repeat;*/
    /*background-repeat: repeat space;*/
    background-repeat: space;

    background-size: 150px;
}