html, 
body {
    min-width: 570px;
	max-width:570px;
    height: 300px;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #FFF;
    background: url(../assets/football.jpg) 50% 50% no-repeat;
}

h1 {
    position: relative;
    width: 320px;
    margin: 0;
    padding-left: 40px;
    
    text-transform:uppercase;
    font-size:80px;
    font-weight:normal;
    word-wrap:break-word;
    overflow:hidden;
    letter-spacing:40px;
    text-indent:100px;
    line-height:100px;
    text-shadow:-5px 5px 0px rgba(0, 0, 0, 0.5);
}

h1::before {
/*
    content: '|';
    position: absolute;
    top: -5px;
    left: -55px;
*/
    content: '|||';
    position: absolute;
    top: -5px;
    left: -55px;

    text-transform:uppercase;
    font-size:55px;
    font-weight:bold;
    word-wrap:break-word;
    overflow:hidden;
    letter-spacing:5px;
    text-shadow:0px 0px 0px rgba(0, 0, 0, 0.5);
}