html, body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #2c3e50;
    font-size: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
/*    width: 553px;*/
}
a:link, a:visited, a:hover, a:active {
    color: #c0392b;
}

/* Header */
header.page-header {
    position: relative;
    min-height: 20px;
    padding: 20px;
    z-index: 5;
    color: white;
    background-image:
        -webkit-linear-gradient(45deg, #34495e 25%, transparent 25%),         -webkit-linear-gradient(135deg, #34495e 25%, transparent 25%),         -webkit-linear-gradient(315deg, #34495e 25%, transparent 25%),         -webkit-linear-gradient(225deg, #34495e 25%, transparent 25%);
    background-image:
        linear-gradient(45deg, #34495e 25%, transparent 25%),
        linear-gradient(-45deg, #34495e 25%, transparent 25%),
        linear-gradient(135deg, #34495e 25%, transparent 25%),
        linear-gradient(-135deg, #34495e 25%, transparent 25%);
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    box-shadow: 0 0 5px 0 #333;
}
figure.logo {
    position: absolute;
    top: 10px;
    left: 20px;
    margin: 0;
    width: 90px;
    height: 90px;
}
nav.main-menu ul {
    margin: 0;
    margin-left: 130px;
    padding: 0;
    list-style: none;
}
.main-menu li {
    display: inline-block;
    margin-right: 1em;
}
.main-menu a {
    color: white;
}

/* Main */
main {
    display: block;
    min-height: 200px;
    padding-top: 50px;
    color: black;
    background-color: white;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAABlBMVEX///+pqalTpKl9AAAAAnRSTlMAGovxNEIAAAAdSURBVDjLY2AAAUaG4UYxDDsfjfp91O+jfqfE7wCzpQCw/dq+qQAAAABJRU5ErkJggg==");
}
main:after, .slides:after {
    content: '';
    clear: both;
    display: table;
}
article.blog-entry {
    min-height: 100px;
    margin: 0 20px;
    padding: 10px;
    background-color: rgba(241, 196, 15, 0.1);
    box-shadow: 0 0 3px #ccc;
    border-radius: 5px;
}
.blog-entry:after {
    content: '';
    clear: both;
    display: table;
}
section.idea {
    min-height: 100px;
    padding: 2%;
    background-color: rgba(243, 156, 18, 0.1);
    border-radius: 5px;
    float: left;
    width: 46%;
}
.idea > p {
    font-size: .8em;    
    margin: 1em 0;
}
.idea > p:last-child {
    margin: 0;
}
.idea > h1 {
    font-size: .9em;
    margin: 0;
}
aside.video-preview {
    width: 46%;
    float: right;
    background: #fff;
    padding: .3em .3em .65em;
    margin: 0 0 1em .5em;
    box-shadow: 0 0 5px 3px rgba(243, 156, 18, 0.2);
}
.video-preview > img {
    width: 100%;
}
section.photos {
    min-height: 50px;
    margin: 20px 0;
    background: #f5f5f5;
    box-shadow: 0 0 5px #ccc;
}
figure.slides {
    margin: 0 20px;
    padding: 10px;
}
.slides > img {
    margin-right: 16px;
    float: left;
}
.slides > img:last-child {
    margin-right: 0;
}

/* Footer */
footer.page-footer {
    min-height: 50px;
    padding: 20px;
    font-size: 14px;
    color: black;
    background-color: #f1c40f;
    background-image:
        -webkit-linear-gradient(45deg, transparent 50%, white 50%),           -webkit-linear-gradient(135deg, transparent 50%, white 50%),          -webkit-linear-gradient(315deg, transparent 50%, #2c3e50 50%),         -webkit-linear-gradient(225deg, transparent 50%, #2c3e50 50%);
    background-image:
        linear-gradient(45deg, transparent 50%, white 50%),
        linear-gradient(-45deg, transparent 50%, white 50%),
        linear-gradient(135deg, transparent 50%, #2c3e50 50%),
        linear-gradient(-135deg, transparent 50%, #2c3e50 50%);
    background-size: 10px 12px;
    background-repeat: repeat-x;
    background-position: 0 0, 0 0, 0 100%, 0 100%;
}
.page-footer:after {
    content: '';
    clear: both;
    display: table;
}
.page-footer .info {
    float: left;
}
.page-footer .info img {
    margin-right: 0.5em;
    vertical-align: middle;
    border: 2px solid white;
    box-shadow: 0 0 4px #c0392b;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
.page-footer .copyright {
    float: right;
    padding-top: 20px;
    font-size: 12px;
}