.portrait {
    box-sizing: border-box;
    margin: 100px auto 0;
    padding: 10px;
    width: 270px;
    height: 270px;
    outline: 10px solid white;
    border: 50px solid rgba(0, 0, 0, 0.4);
    border-image-source: url("../assets/img/border-img.png");
    border-image-slice: 50;
    border-image-repeat: repeat;
    
    /*border-image-outset:30px;*/
    border-image-outset:60px;
    
    background: url("../assets/img/border-img.png") no-repeat #ffffff;
    background-clip: padding-box;
    background-origin: content-box;
}