.striped-layout article {
    display: table;
    margin: auto;
    border: 2px solid #323A47;
    background-color: #FFFEBC;
    /*border-collapse: collapse;*/
    border-collapse: separate;
    border-spacing:20px 10px
}

.striped-layout h1 {
    display: table-caption;
}

.striped-layout ul {
    display: table-row;
}

.striped-layout li {
    display: table-cell;
    padding: 10px;
    background-color: #83C5FF;
    border:2px solid #323A47;
}