.arrow-round {
    position: relative;
    margin: 100px auto;
    width: 200px;
    height: 200px;
    
    border:50px solid #0074d9;
    border-radius:50%;
    border-right-color:transparent;
}