body {
    padding: 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #333;
    background: url('../assets/bokeh.jpg') no-repeat 50% 0;
}

article {
    padding: 20px;
    background: rgba(240, 240, 240, 0.85);

	margin:auto;
	max-width:900px;
    
    column-width:200px;
}

p {
    margin: 0;
    line-height: 22px;

    text-align: justify;    
    text-indent:24px;
}
/*
p:first-child {
    text-indent:0;
}

p:first-child::first-letter {
    float: left; 
    padding: 4px;
    padding-right: 8px;
    padding-bottom: 0;
    font-size: 76px; 
    font-family: Georgia;
    line-height: 60px;
    
    color:#8b3333;
}

p:first-child::first-line {
    font-weight:bold;
}
*/