html, body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    background: #f5f5f5;
}

a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
}

.effect-2 {
    width: 400px;
    margin: 100px auto;
    padding: 30px 0;
    text-align: center;
    background-color: #435a6b;
}

.effect-2 a {
	padding: 0 20px;
	height: 45px;
	line-height: 45px;
	color: #fff;
	font-weight: 300;
}

.effect-2 a::before,
.effect-2 a::after {
	position: absolute;
	width: 45px;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0.2;
	transition: all 0.3s;
}

.effect-2 a::before {
	top: 0;
	left: 0;
	transform: rotate(90deg);
	transform-origin: 0 0;
}

.effect-2 a::after {
	right: 0;
	bottom: 0;
	transform: rotate(90deg);
	transform-origin: 100% 0;
}

.effect-2 a:hover::before,
.effect-2 a:hover::after {
	opacity: 1;
}

.effect-2 a:hover::before {
    left:50%;
	transform: rotate(0deg) translateX(-50%);
}

.effect-2 a:hover::after {
    right:50%;
	transform: rotate(0deg) translateX(50%);
}