.robot {
    animation-name:move;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

.robot-paused{
    animation-play-state:paused;
}

@keyframes move {
    to{ left:400px; }
}