body{
    padding:20px;
    background:white;
}
.logo{
    width:280px;
    margin:50px auto;
}
.logo div{
    position:absolute;
}
.logo .c1{
    margin-left:0;
}
.logo .c2{
    margin-left:60px;
}
.logo .c3{
    margin-left:120px;
}
.logo .c4{
    margin-left:180px;
}
.circle{
    width:100px;
    height:100px;
    margin:10px auto;
    -webkit-box-shadow:
        inset 2px 2px 2px 0 white,
        inset 0 0 0 4px #4f5054,
        inset 0 0 0 5px black,
        inset -5px -5px 5px 3px white,
        inset 0 0 0 9px #6c6d70,
        inset 0 0 0 10px black;  
    -moz-box-shadow:
        inset 2px 2px 2px 0 white,
        inset 0 0 0 4px #4f5054,
        inset 0 0 0 5px black,
        inset -5px -5px 5px 3px white,
        inset 0 0 0 9px #6c6d70,
        inset 0 0 0 10px black;  
    box-shadow:
        inset 2px 2px 2px 0 white,
        inset 0 0 0 4px #4f5054,
        inset 0 0 0 5px black,
        inset -5px -5px 5px 3px white,
        inset 0 0 0 9px #6c6d70,
        inset 0 0 0 10px black;  
    -moz-border-raduis:50%;
    -webkit-border-radius:50%;
    border-radius:50%;        
}