.palette div {
    min-width: 35px;
    min-height: 35px;
    margin: 5px;
}
.palette {
    display: flex;
    FLEX-DIRECTION: row;
    JUSTIFY-CONTENT: space-around;
}
.color-olive {
    margin-left: auto;
}