html, body {
  height: 100%;
  margin: 0;
}

.content {
  height: 100%;
  background-color: yellow;
  background-image: none;
  /* Цвета градиента: yellow, green */



background-image: linear-gradient(to right bottom, yellow, green);
background-image: linear-gradient(to left top, yellow, green);
background-image: linear-gradient(to right top, yellow, green);
background-image: linear-gradient(to left bottom, yellow, green);
}

h1 {
  margin: 0;
  padding-top: 250px;
  font-size: 30px;
  font-family: Georgia, serif;
  text-align: center;
}