html, body{
    margin:0;
    padding:0;
}
body{
    width:280px;
    min-height:280px;
    padding:10px;
    font-family:Arial, sans-serif;
    font-size:14px;
    line-height:1.4;
    background:#ecf0f1;
}
.main-menu{
    list-style:none;
    padding:0px;
    margin:0px;
    width:200px;
}
.main-menu>li{
    list-style:none;
    padding:10px 15px;
    background:#2980B9;
    border-bottom:#2C3E50 solid 2px;
}
.main-menu  .active{
    list-style:none;
    padding:10px 15px;
    background:#1ABC9C;
    border-bottom:#2C3E50 solid 2px;
}
.main-menu>li>a{
    text-decoration:none;
    color:white;
}
.main-menu ul{
    padding:0px;
    margin:0px;
    margin-top:10px;
    margin-bottom:-10px;
    margin-right:-15px;
    margin-left:-15px;
    border-top:#2C3E50 solid 2px;
}
.main-menu li li{
    list-style:none;
    padding:5px 15px;
    margin:0px;
    background:#fff;
}
.main-menu li li:first-child{
    padding-top:15px;
}
.main-menu li li:last-child{
    padding-bottom:15px;
}
.main-menu li li>a{
    text-decoration:underline;
    color:#2980B9;
}
