body {
    width: 550px;
}
form {
    margin: 0 auto;
    padding: 20px;
    width: 400px; 
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
}
fieldset {
    padding: 10px;
    border: 1px solid #34495e;
    border-radius: 5px;
}
fieldset legend{
    color: #34495e;
}
.half-width {
    width: 50%;
    display: inline-block;
    margin-right: -4px;
}
label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}

input[type="radio"],
input[type="checkbox"]
{
    display: none;
}

input[type="radio"] + label, 
input[type="checkbox"] + label
{
    color: #7f8c8d;
    vertical-align: middle;
}

input[type="radio"] + label:before, 
input[type="checkbox"] + label:before
{
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 8px;
    vertical-align: middle;
    border: 3px solid #fff;
    box-shadow: 0 0 0 3px #bdc3c7;
}

input[type="radio"] + label:before
{
    border-radius: 50%;
}

input:checked + label:before
{
    background: #1abc9c;
    box-shadow: 0 0 0 3px #1abc9c;
}

input:checked + label {
    color: #1abc9c;
}

input:disabled + label:before {
    box-shadow: 0 0 0 3px #ecf0f1;
}
input:disabled + label  {
    color: #ecf0f1;
}
input[type="text"]{
    margin-bottom: 10px;
    padding: 2px 5px;
    width: 95%;
    height: 24px;
    color: #000;
    border: 2px solid #bdc3c7;
    border-radius: 5px;
    vertical-align: middle;
    font-family: "Roboto";
}
input:required{
    border-color: #e74c3c;
}
input:disabled{
    border-color: #ecf0f1;
    color: #bdc3c7;
    background: #f5f5f5;
}
input:invalid{
    border-color: #e74c3c;
    color: #c0392b;
    background: #F2A097;
}