body{
    font-family:Arial, sans-serif;
    font-size:14px;
    line-height:1.4;
    padding:10px;
}
.main-menu{
    width:150px;
    padding:0px;
    margin:0;
    width:180px;
    list-style:none;
    border:1px solid #E5E5E5;    
    background:#f5f5f5;
}
.main-menu li{
    margin:0;
    padding:0px;
}
.main-menu a{
    display:block;
    padding:8px 14px;
    color:#0088CC;
}