html, body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Open Sans', sans-serif;    
    background: #f5f5f5;
}
 
section {
    width: 450px;
    margin: 40px auto;   
    background: white;
    box-shadow: 0 0 3px #ccc;
}

h1 {
    padding: 10px 0;
    margin: 0;
    font-size: 28px;
    font-weight: normal;
    text-align: center;
}

.slider {
    position: relative;
}

.slider input[type=radio] {
    display:none;
}

.slider-inner {
    overflow: hidden;
}

.slider-slides{
    width: 300%;
}

.slider-slides img {
    float: left;
    width: 450px;
    height: 320px;    
}

.slider-controls {
    text-align: center;
}

.slider-controls label {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    cursor: pointer;
    
    box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.8);
    border-radius:50%;
}