html, body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Open Sans', sans-serif;    
    background: #f5f5f5;
}
 
section {
    width: 450px;
    margin: 40px auto;   
    background: white;
    box-shadow: 0 0 3px #ccc;
}

h1 {
    padding: 10px 0;
    margin: 0;
    font-size: 28px;
    font-weight: normal;
    text-align: center;
}

.slider {
    position: relative;
}

.slider input[type=radio] {
    display: none;
}

.slider-inner {
    overflow: hidden;
}

.slider-slides{
    width: 300%;
    transition: transform .8s ease;
}

.slider-slides img {
    float: left;
    width: 450px;
    height: 320px;    
}

.slider-controls {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -40px;
    z-index: 100;
    text-align: center;
}

.slider-controls label {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    background: #ccc;
    cursor: pointer;   
    border: 4px solid white;
    border-radius: 50%;    
    box-shadow: 0px 0px 2px rgba(0,0,0,.8);     
    transition: background-color .2s;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background-color: #666;
}

#btn-1:checked ~ .slider-inner .slider-slides { 
    transform:translate(0);
}
#btn-2:checked ~ .slider-inner .slider-slides { 
    transform:translate(-450px);
}
#btn-3:checked ~ .slider-inner .slider-slides { 
    transform:translate(-900px);
}