.portrait{
    width:300px;
    height:400px;
    background:#ffffff url('../assets/img/keks.jpg') no-repeat;
    /*margin:20px auto 0 auto;*/
    margin:20px auto 0;
    /*background-size:200px;*/
    /*background-size:100%;*/
    background-size:100% 100%;
}