html, body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    font-family: "Arial Narrow", Arial, sans-serif;
}

article {
    position: relative;
    max-width: 400px;
    margin: 50px auto;
    padding: 1px 20px;
    background: white;
    box-shadow: 0 0 3px #ccc;
    line-height: 1.5;
    
    border-left:40px #7fdbff solid;
}

h1 {
    margin: 0.7em 0;
    
    position:absolute;
    top:10px;
    left:0px;
    
    transform-origin:0 0;
    transform:rotate(90deg);
}