body {
    font-family: Arial, sans-serif;
    color: #EADEC8;
    background: url('../assets/road.jpg') no-repeat 50% 0;
}

h1 {
    margin-top: 350px;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    text-shadow: 5px 0px 0px #333;
}

span {
    position: absolute;
    top: 260px;
/*    left: 110px; */
    left: 35%;
    font-size: 70px;
}