label {
    position: relative;
    cursor: pointer;
    max-width: 100px;
    display: inline-block;
    word-wrap: break-word;
}

label::before,
label::after {
    position: absolute;
    display: block;
    content: '';
}

label::before {
    top: 11px;
    left: 108px;
    width: 32px;
    height: 1px;
    border-top: 1px solid #5a5a5a;
}

label::after {
    top: 4px;
    left: 100px;
    width: 12px;
    height: 12px;
    border: 2px solid #5a5a5a;
    border-radius:50%;
    background-color:#fff;
}

input[type="checkbox"] {
    display: none;
}