
 .button_example{
    font-family:Tahoma, sans-serif;
    font-size:18px;
    background: url("../blog-cat-content/bg.jpg");
	height:300px;
}
 .btn{
    width:150px;
    padding:15px 20px;
    margin:100px auto;
    text-align:center;
    text-transform:uppercase;
    cursor:pointer;
    color:white;
    background:#34495e;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    box-shadow:
        0 0 0 5px #e74c3c,
        0 0 0 10px #f1c40f,
        0 0 0 15px #2ecc71;
}


/* НОВЫЙ ПУТИ */
body{
    background: url("../assets/bg.jpg");
}
