html, body{
    margin:0;
    padding:0;
}
body{
    width:430px;
    min-height:280px;
    padding:10px;
    font-family:Arial, sans-serif;
    font-size:14px;
    line-height:1.4;
    background:#ecf0f1;
}
.main-menu{
    list-style:none;
    padding:0px;
    margin:0px;
    /*margin-top:8px;*/
    margin-left:5px;
}
.main-menu li{
    display:inline-block;
    background:#2980B9;
    margin-left:-5px;
}
.main-menu a{
    display:block;
    color:#ffffff;
    text-decoration:none;
    text-align:left;
    margin-right:-20px;
    padding:10px 35px 10px 15px;
    border-left:2px #2C3E50 solid;
    /*border-right:2px #2C3E50 solid;*/
    background:inherit;
}
.main-menu li:last-child a{
    padding-right:34px;
}
.main-menu li.active{
    background:#1ABC9C;
}
.main-menu li:hover{
    background:#a422B1;
}