.energy-logo {
    animation-name: vibrate;
    animation-duration: 2s;
}

.energy-fill {
    animation-name: power;
    animation-duration: 2s;
    animation-delay: 2s;  
} 

.energy-fill.mega-energy-fill {
    animation-fill-mode: both;
    animation-iteration-count: 2; 
    animation-direction: alternate;  
} 

@keyframes vibrate {
    50% {
        transform: scale(1.2);
    }
}

@keyframes power {
    0% {
        background-color: #01FF70;
        width: 150px;
    }
    50% {
        background-color: #FFDC00; 
    }
    100% {
        background-color: #FF4136;
        width: 30px; 
    }
}