.robot {
    animation-name: move;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes move {
    to {
        left: 400px;
    }
}

.robot.constructor{
    /*animation-timing-function:ease-in;*/
    /*animation-timing-function:ease-out;*/
    animation-timing-function:ease-in-out;
}