.portrait {
    margin: 50px auto;
    width: 250px;
    height: 250px;
    background: url("../assets/img/keks-3.jpg") center no-repeat rgba(255,255,255,0.4);
    background-size: cover;
    border: 50px solid rgba(0, 0, 0, 0.4);
    
    /*outline: 5px solid white;*/
    
    border-image-source: url(../assets/img/leafs-frame.png);
    border-image-slice: 180 fill;
    border-image-outset: 20px;
    
    border-radius:50%;
    
    background-clip:content-box;
}