label {
    position: relative;
    cursor: pointer;
    max-width: 100px;
    display: inline-block;
    word-wrap: break-word;
}

label::before,
label::after {
    position: absolute;
    display: block;
    content: '';
}

label::before {
    top: 11px;
    left: 108px;
    width: 32px;
    height: 1px;
    border-top: 1px solid #5a5a5a;
}

label::after {
    top: 4px;
    left: 100px;
    background-color: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: solid 2px #5a5a5a;
    transition:all 200ms ease-in;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ label::after {
    transform:translateX(32px);
    background-color:#0f9d58;
    border-color:#0f9d58;
}