html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 500px;
    height: 500px;
    background-color: #f5f5f5;
}

.icon {
    float:left;
    width: 220px;
    height: 220px;
    margin: 20px;
    margin-bottom: 0;
    margin-right: 0;
    border-radius: 45px;
    background-color: #ccc;
}

.messages {
    /* градиент от #86ff65 к #06d315 */
    background-image:linear-gradient(#86ff65, #06d315);
}

.weather {
    /* градиент от #1f76ed к #70edfe */
    background-image:linear-gradient(to right, #1f76ed, #70edfe );
}

.camera {
    /* градиент от #f7f7f7 к #898b91 */
    background-image:linear-gradient(#f7f7f7, #898b91 );
}

.itunes {
    /* градиент от #fb5bc4 к #a645fe */
    background-image:linear-gradient(to right, #fb5bc4, #a645fe);
}

.icon-inner {
    height: 220px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.messages .icon-inner {
    background-image: url('messages.png');
}

.weather .icon-inner {
    background-image: url('weather.png');
}

.camera .icon-inner {
    background-image: url('camera.png');
}

.itunes .icon-inner {
    background-image: url('itunes.png');
}