body {
    background-image: url('nyan-cat-bg.png');
}

.rainbow {
    position: absolute;
    top: 105px;
    left: 0;
    width: 205px;
    height: 100px;
    /*background-image: none;*/
    background-image: linear-gradient(to bottom, #FF4136, #FF851B, #FFDC00, #2ECC40, #7FDBFF, #0074D8, #B10DC9);
}

.cat {
    position: absolute;
    top: 100px;
    left: 150px;
    z-index: 10;
}