body {
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #333;
    background: url('../assets/bokeh.jpg') no-repeat 50% 0;
}

p {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    font-size: 16px;
    line-height: 22px;
    background: rgba(240, 240, 240, 0.85);
    
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}