html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    background: #f5f5f5;
}

.works {
    width: 240px;
    margin: 100px auto;
    padding: 20px;
    background: white;    
    box-shadow: 0 0 3px #ccc;
}

.caption-link {
	position: relative;
	z-index: 1;
	display: block;
	overflow: hidden;
}

.caption-link img {
	display: block;
	max-width: 100%;
	transition: transform 0.3s ease;
}

.caption-link:hover img {
	transform: translateX(100%);
}

.caption-link::before,
.caption-link::after {
	position: absolute;
	width: 100%;
	background: #333;
	text-align: center;
	box-sizing: border-box;
	z-index: -1;
	transition: transform 0.3s ease-in-out;
	
	transform: translateX(-80px);
}

.caption-link::before {
    content: attr(data-title);
	height: 30%;
	padding: 30px;
	color: #fff;
	font-size: 22px;
    font-weight: bold;	
}

.caption-link::after {
	content: attr(data-description);
	top: 30%;
	height: 70%;
	padding: 0 30px;
	color: #d7bb97;
}

.caption-link:hover::before,
.caption-link:hover::after {
    transform:translateX(0px);
}