@font-face {
	font-family: "Arial";
	src: url("../fonts/ArialMT.woff") format('woff');
}

@font-face {
	font-family: "Times New Roman";
	src: url("../fonts/TimesNewRomanPSMT.woff") format('woff');
}

body {
	background-color: #e8e8e8;
	/* background-color: #e0e0e8; */
	text-align: center;
	/* width: 1440px; */
	background-image: url("../source/ellipse_1_copy.svg");
	background-position-x: 50%;
	background-position-y: 105px;
	background-repeat: no-repeat;
}

.container-main {
	margin-top: 153px;
	display: inline-block;
	width: 840px;
	/* ------------ */
	/* only fo diff */
	margin-left: -20px;
}

.container-row {
	display: block;
}

.chapter-header {
	font-size: 14px;
	letter-spacing: 3px;
	line-height: 40px;
	color: #273d46;
	font-family: "Arial";
	text-align: center;
	text-transform: uppercase;
	/* ------------ */
	/* only fo diff */
	display: inline-block;
	margin-left: -8px;
}

h1 {
	/* width: 762px; */
	/* height: 714px; */
	font-size: 36px;
	line-height: 50px;
	color: #273d46;
	font-family: "Times New Roman";
	text-align: center;
	display: inline-block;
	margin-top: 1px;
	margin-left: 37px;
	margin-right: 40px;
}

.container-illustrate {
	margin-top: 65px;
	margin-bottom: 65px;
	filter: drop-shadow(0px 15px 32.5px rgba(15, 16, 16, 0.15));
	padding: 10px;
	background-color: #ffffff;
}

.container-illustrate img {
	filter: drop-shadow(0px 15px 32.5px rgba(15, 16, 16, 0.15));
	/* border: 15px solid #ffffff; */
}

.container-main-text {
	display: block;
	margin-top: 85px;
	margin-bottom: 25px;
}

p.main-text {
	/* width: 750px; */
	/* height: 525px; */
	font-size: 24px;
	line-height: 40px;
	color: #273d46;
	font-family: "Times New Roman";
	/* my code */
	text-align: left;
	display: block;
	margin-top: 35px;
	margin-bottom: 40px;
	margin-left: 44px;
	margin-right: 44px;
}

.main-points ul {
	display: block;
	padding-left: 70px;
	padding-top: 2px;
}

.main-points ul li {
	text-align: left;
	list-style-position: outside;
	list-style-image: url(../source/check_icon.png);
	line-height: 0.5;
	padding-left: 6px;
	margin-bottom: -1px;
	margin-top: -1px;
}

.main-points li.point-common {
	font-size: 20px;
	line-height: 36px;
	color: #273d46;
	font-family: "Arial";
	filter: drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.3));
}

.main-points li.point-detailed {
	font-size: 20px;
	line-height: 36px;
	color: #80b7b3;
	font-family: "Arial";
	font-style: italic;
}

.main-points li.point-important {
	font-size: 20px;
	line-height: 36px;
	color: #273d46;
	font-family: "Arial";
	font-weight: bolder;
	letter-spacing: 1px;
	word-spacing: -3px;
}

.main-points li.point-crossed {
	font-size: 20px;
	line-height: 36px;
	text-decoration: line-through;
	color: #273d46;
	font-family: "Arial";
}

.container-btn {
	text-align: left;
	display: block;
	margin-top: 55px;
	margin-bottom: 40px;
	margin-left: 40px;
	margin-right: 44px;
}

a.btn-full-story {
	font-size: 14px;
	letter-spacing: 3px;
	line-height: 40px;
	color: #ffffff;
	font-weight: bold;
	font-family: "Arial";
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 28px;
	padding-right: 26px;
	border-radius: 25px;
	text-transform: uppercase;
	/* background-color: #e8e8e8; */
	background-color: #80b7b3;
	filter: drop-shadow(0px 6px 20px rgba(128,183,179,0.54));
}

a.btn-full-story img {

	display: inline-block;
	padding-top: 10px;
	margin-bottom: -20px;
	/* width: 21px;
	height: 14px; */
	/* background-color: #ffffff; */
}