.spot {
    display: flex;
    flex-direction: column; /* Task 1. Измените у <code>.spot</code>
                        направление главной оси на <code>column</code>. */
    align-items: stretch;
    justify-content: space-around;
}

.skate {
    margin: 10px;
    min-width: 50px;
    min-height: 50px;
}

.skate-2 {
    margin-left: auto; /* Task 2. <li>Затем у второго скейта
                        удалите свойство <code>margin-top</code>
                        и добавьте свойство <code>margin-left: auto;</code>. */
}

.skate-3 {
    align-self: flex-end;
    margin-right: auto; /* Task 3. <li>У третьего скейта
                        удалите свойство <code>margin-bottom</code>
                        и добавьте свойство <code>margin-right: auto;</code> */
}
