.label-box {
    position: relative;
    width: 270px;
}

.label-box::before {
    content:'';
    position:absolute;
    height:2px;
    width:50%;
    background-color:#757575;
    bottom:1px; 
    left:50%;
}

.label-box::after {
    content:'';
    position:absolute;
    height:2px;
    width:50%;
    background-color:#757575;
    bottom:1px; 
    right:50%;
}

input {
    width: 270px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #757575;
}

label {
    position: absolute;
    top: -36px;
    font-size: 18px;
    pointer-events: none;
    color: #757575;
    transition: 0.2s ease all;
}

input:focus ~ .label-box label,
input:valid ~ .label-box label {
    font-size: 14px;
    transform: translateY(-20px);
}