.portrait {
    margin: 20px auto 0;

    /*width: 400px;*/
    /*height: 400px;*/
    width: 500px;
    height: 450px;

    background-color: #ffffff;
    background-image: url("../assets/img/keks.jpg");
    background-repeat: no-repeat;
    background-size: 150px;
    
    /*background-repeat: repeat;*/
    background-repeat: repeat round;
}