.menu-icon span {
    display: block;
    width: 100%;
    height: 12px;
    background-color: #40d47e;
}

.menu-icon span::before,
.menu-icon span::after {
    content: '';
    display: block;
    width: 100%;
    height: 12px;
    background-color: #40d47e;
}

.menu-icon span::before {
    transform: translate(0, -24px);
}

.menu-icon span::after {
    transform: translate(0, 12px);
}

.menu-icon-open span {
    transform:rotate(180deg);
}

.menu-icon-open span::before,
.menu-icon-open span::after {
    width:60%;
}