body {
    font-family: Arial, sans-serif;
    text-align: center;
}

span {
    display: inline-block;
    width: 140px;
    margin-right: 12px;
    font-size: 150px;
}

span:first-child {
    color: #FFDC00;
}

span:nth-child(2) {
    color: #AAA;
}

span:nth-child(3) {
    color: #FF851B;
}

span:last-child {
    color: #FF4136;
}

p {
    display: inline-block;
    width: 80%;
}