body{
    font-family:Arial, sans-serif;
    font-size:14px;
    line-height:1.4;
    padding:10px;
}
.main-menu{
    width:180px;
    padding:0;
    margin:0;
    list-style:none;
    /*border:1px solid #E5E5E5; */
    /*background:#f5f5f5;*/
}
.main-menu a{
    display:block;
    padding:8px 14px;
    margin-bottom:-1px;
    color:#0088CC;
    text-decoration:none;
    border:1px solid #E5E5E5;
}