html, body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    font-family: "Arial Narrow", Arial, sans-serif;
}

.shadow-box {
    position: relative;
    width: 400px;
    height: 100px;
    margin: 50px auto;
    padding: 100px 0;
    background: white;
    box-shadow: 0 0 3px #ccc;
    text-align: center;
}

.shadow-box:before, .shadow-box:after {
    position: absolute;
    content: "";
    bottom: 15px;
    width: 45%;
    top: 80%;
    max-width: 300px;
    background: #ddd;
    box-shadow: 0 15px 10px #555;
}

.shadow-box:before {
    left: 10px;
    transform:rotate(-3deg);
    z-index:-1;
}

.shadow-box:after {
    right: 10px;
    transform:rotate(3deg);
    z-index:-1;
}