@base-color: rgb(110, 27, 255);

@distance: 60;
@invert-distance: @distance * -1;

@error-color: spin(@base-color, @distance);
@info-color: spin(@base-color, @invert-distance);
@warning-color: spin(@base-color, @distance * 2);
@success-color: spin(@base-color, @invert-distance * 2);

.color {
    &-primary {
        background-color: @base-color;
    }
    &-error {
        background-color: @error-color;
    }
    &-info {
        background-color: @info-color;
    }
    &-warning {
        background-color: @warning-color;
    }
    &-success {
        background-color: @success-color;
    }
}

.palette-item {
    display: inline-block;
    .color {
        margin: 0.5em;
    }
}