html, body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    background: #f5f5f5;
}

a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
}

.effect-3 {
    width: 400px;
    margin: 100px auto;
    padding: 30px 0;
    text-align: center;
    background-color: #2ac56c;
}

.effect-3 a {
	color: rgba(0,0,0,0.2);
	font-weight: bold;
}

.effect-3 a::before {
    content:attr(data-hover);
    position:absolute;
    
	color: #fff;	
	transition: transform 0.3s, opacity 0.3s;
}

.effect-3 a:hover::before {
    opacity:0;
    transform:scale(0.9);
}