.fuel {
    animation-name: fire;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.rocket {
    animation-name: fly;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes fire {
    to {
        opacity: 1;
    }
}

@keyframes fly {
    to {
        transform: rotate(40deg) translate(0px, -500px);
    }
}