.combo-1 {
    background-image: url("../assets/img/spb-6.jpg");
    filter: drop-shadow(5px 5px 5px #000) opacity(0.5) ;
}

.combo-2 {
    background-image: url("../assets/img/spb-1.jpg");
    filter:saturate(5) blur(1px);
}

.combo-3 {
    background-image: url("../assets/img/spb-3.jpg");
    filter:  brightness(1.5) hue-rotate(270deg);
}