@base-color: rgb(110, 27, 255);
@alter-color: spin(@base-color, 60);

.btn {
    &-primary {
        background-color: @base-color;
        
        &-hover, &:hover {
            background-color: lighten(@base-color, 20%);
        }
        
        &-pressed, &:active {
            background-color: darken(@base-color, 20%);
        }
        
        /* &-правило добавьте тут */
        &-disabled {
            color: rgba(255, 255, 255, 0.8);
            background-color: desaturate(lighten(@base-color, 20%), 70%);
        }
    }
}