.checklist {
    display: table;
}

.checklist h1{
    display:table-caption;
    caption-side:bottom;
}

.checklist ul {
    display: table-row;
}

.checklist li {
    display: table-cell;
}