body{
    font-family:Tahoma, sans-serif;
    font-size:18px;
    background: url("../assets/bg.jpg");
}
.btn{
    width:150px;
    padding:15px 20px;
    margin:100px auto;
    text-align:center;
    text-transform:uppercase;
    cursor:pointer;
    color:white;
    background:#3498db;
}