@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src:
    local('Philosopher Regular.ttf'),
    local('Philosopher-Regular'),
    url('Philosopher-Regular.ttf') format('truetype');
}


body{
	color:red;
	background-color:#eee;
	text-align:center;
    padding:0px ;
	margin:0px ;
        font-size: 24px;
	/* border:1px solid black; */
}
header{
	/* position:relative; */
/* 	border:1px solid black;
	background:#E6E6FF; */
	border-top:25px solid #eee;
}
header h1{
	display:inline-block;
	color:#0088cc;
	padding:60px auto 10px;
}
.menu{
	list-style-type: none;
	font-size:1.1em;
	color:white;
	position: fixed;
        padding:0;
        margin:0;
	top:0px;
	z-index:10;
}
.menu li{
	display:inline-block;
        padding:0;
        margin:0;
	/* width:100%; */
}
.menu a{
	display:inline-block;
	text-decoration: none;
	padding:10px 20px;
	margin:0px auto;
	/* width:100%; */
        line-height: 1.5em;
	color:white;
	background:black;
	border:1px solid black;
}


main{
	display:inline-block;
    padding:0px 10px;
	margin:0px auto;
	max-width: 1300px;
    font-family:'Philosopher', Times New Roman,Arial, sans-serif;
    font-size:1em;
    line-height:1.4em;
/* 	border:1px solid black; */
}


.menu-gallery{
	display:inline-block;
	padding:0;
	margin:0;
/* 	width:200px; */
/* 	background:#fff; */
/* 	list-style-type: none;
	border:1px solid #e5e5e5; */
	text-align:left;
	vertical-align:top;
}
.menu-gallery li{
	display:inline-block;
	position:relative;
}
.menu-gallery a{
	display:inline-block;
	padding:1em 1em;
	box-sizing:border-box;
/* 	width:100%; */
	text-decoration: none;
	text-align:left;
        vertical-align: middle;
	color:#0088cc;
	font-size:1.3em;
	white-space: nowrap;
        height:3em;
}
.menu-gallery>li{
	border:1px solid #e5e5e5;
	margin-left:-10px;
	background: #fff;
}
.menu-gallery .sub-menu{
	display:none;
	position:absolute;
	top:3.7em;
	padding:0;
	margin:0;
	box-sizing:border-box;
	min-width:100%;
	list-style-type: none;
}
.menu-gallery .sub-menu li{
	min-width:100%;
} 
.menu-gallery .sub-menu a{
	color:#777;
	background:#fff;
	box-sizing:border-box;
	min-width:100%;
}
.menu-gallery>li:hover>a{
	color:#2159ED;
        background-color: #FFF5FF;
	background:linear-gradient(to top, #FFF0FF, #FFFcFF);
}
.menu-gallery .sub-menu a:hover{
        background-color: #2159ED;
	background: linear-gradient(to bottom, #0099FF, #2159ED);
	color:#ffffff;
}
.menu-gallery>li:hover .sub-menu{
	display: block;
	z-index: 10;
	box-shadow: 0px 0px 3px 3px #999;
}


form{
	display:inline-block;
	padding:0.2em 0.2em 0.2em;
	margin: 0em 0em 0em -0.3em ;
	box-sizing:border-box;
	background: white;
	border:1px solid #e5e5e5;
/* 	line-height:2.3em; */
	text-align:left;
	color:#2168DE;
        max-width: 355px;
        font-size: 1.2em;
}
form p{
	padding:0;
	margin:0;
	color:#B0B4BB;
        font-weight: bold;
        font-size: 0.8em;
}
form:hover p{
	color:#5A6372;
}
form:hover{
	background:linear-gradient(to top, #FFF5FF, #FFFfFF);
}
form input{
	display:none;
}
form label{
	display:inline-block;
	padding:0.5em 0.5em 0.65em;
	margin:0em 0em 0.2em 0em;
	border:1px solid #e5e5e5;
	box-sizing:border-box;
	box-shadow: 0px 0px 3px 0px #999;
	border-radius: 3px;
}
form label.post{
	border-radius: 3px 25px 25px 3px;
}
form label:hover{
	background: #FFBFBF;
	color:white;
}
	



.message{
	display:table;
	position:relative;
	padding:1.0em 1.5em 1.0em;
	margin:1.5em auto 0.5em;
	border:1px solid #e5e5e5;
	box-sizing:border-box;
	box-shadow: 0px 0px 3px 0px #999;
	border-radius: 3px;
	background:linear-gradient(to top, #ffffff, #FFFfFF);
	font-size:30px;
	color:#FF2031;
}
.message-close{
	position:absolute;
	top:0px;
	right:0px;
	z-index:10;
	margin:10px;
	padding:5px 10px;
	color:black;
	font-size:20px;
	color:#d0d0d0;
	text-decoration: none;
}
.message:hover .message-close{
	color:black;
	font-size:20px;
	color:#FF2031;
	box-shadow: 0px 0px 3px 0px #999;
	border-radius: 50%;
}



.photo_spaces{
	display:inline-block;
	margin:10px auto;
	
	max-width:1360px; 
/*	padding:18px; 
	border:1px solid silver;*/	
 	text-align:center;
}

.photo_spaces .photo_frame {
	display:inline-block;
	position:relative;
/* 	width:230px;
	height:260px;
	margin:5px;
	background:#ddd;
	border:1px solid #555;
	border-radius:15px; */	
	width:350px;
	height:420px;
	margin:8px;
	background:#fff;
/* 	border:1px solid #555; */	
 	border-radius:3px;
	box-shadow:
		0px 00px 3px 1px #999;
}

.photo_spaces .photo_frame a{
/* 	float:left; */
	display:inline-block;
/* 	position:absolute;
	left:0px;
	top:0px; */
	width:350px;
	height:350px;
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:cover;
/* 	margin:20px 20px 35px;
	border:solid 1px #999; */
	border-radius:3px 3px 0px 0px;
	box-shadow:
		0px 1px 0px 0px #999;
	overflow:hidden;
	transform-origin:center;
	box-sizing:border-box;
/* 	verical-align:middle;
	position:relative; */
}

.photo_spaces a:hover{
/* 	transform:scale(1.1); */
	opacity:0.5;
	-moz-opacity:0.5; /*FF3.5 =< */
	filter:alpha(opacity=50); /*IE 6,7,8 */
/* 	background-color:rgba(255,255,255,0.5);
	filter:grayscale(0.5); */
}




.to-top{
	position:fixed;
	bottom:5px;
	right:5px;
	display:inline-block;
	padding:15px;
	text-decoration:none;
	font-size:1em;
	color:#4ac5ff;
	background:rgba(255,255, 255, 0.6); 
        box-shadow: 0px 0px 3px 0px #4ac5ff;
        border-radius: 50%;
}
.to-top img{
	padding:0;
	margin:0;
	/*transform:rotate(-90deg);*/
/*	position:absolute;
	top:10px;
	left:0px;*/
	width:50px;
	height:50px;
	/*opacity:0.8;*/
}
.to-top:hover{
	background-color:rgba(255,255, 255, 1);
        box-shadow: 0px 0px 8px 0px #0088cc;
	/*color:#0088cc;*/
}
.to-top:hover img{
	opacity:1.0;
}






/**
 Стили отображения каждой фотографии
*/

.imageBig{
    display: block;
}

.imageBig .big img{
    /*margin: 1% auto;*/
    max-width: 100%;
    max-height: 100%;
}

.imageBig .prev,
.imageBig .next,
.imageBig .close{
    position:absolute;
    background-color: #fff;
    opacity:0.7;
}
.imageBig .prev{
    top:50%;
    left: 0%;
}
.imageBig .next{
    top:50%;
    right: 0%;
}
.imageBig .close{
    top:1%;
    right: 1%;
    border-radius: 50%;
}

.imageBig .prev img,
.imageBig .next img{
    height: 80px;
    width: 50px;
    /*opacity:0.9;*/
}

.imageBig .close img {
    height: 50px;
    width: 50px;
}

.imageBig .prev:hover,
.imageBig .next:hover,
.imageBig .close:hover{
    opacity:1;
    box-shadow: 0 0 3px 0 black;
}


.popul{
    /*position:absolute;*/
    bottom:0px;
    color: #5A6372;
    /*background-color: white;*/
    /*opacity:0.7;*/
    text-align: left;
}