body{
	color:red;
	background-color:#eee;
	text-align:center;
}

.photo_spaces{
	display:inline-block;
	margin:10px auto;
	
	max-width:1080px; 
//	 padding:18px; 
//	 border:1px solid silver;
	text-align:center;
}

.photo_spaces .photo_frame {
	display:inline-block;
	position:relative;
//	width:230px;
//	height:260px;
//	margin:5px;
//	background:#ddd;
//	border:1px solid #555;
//	border-radius:15px
	width:200px;
	height:240px;
	margin:5px;
	background:#fff;
//	border:1px solid #555;
	border-radius:3px;
	box-shadow:
		0px 00px 5px 2px #999;
}

.photo_spaces .photo_frame a{
//	float:left;
	display:inline-block;
//	position:absolute;
//	left:0px;
//	top:0px;
	width:200px;
	height:200px;
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:cover;
//	margin:20px 20px 35px;
//	border:solid 1px #999;
	border-radius:3px 3px 0px 0px;
	box-shadow:
		0px 1px 0px 0px #999;
	overflow:hidden;
	transform-origin:center;
	box-sizing:border-box;
//	verical-align:middle;
//	position:relative;
}

.photo_spaces a:hover{
//	transform:scale(1.1);
	opacity:0.5;
	-moz-opacity:0.5; /*FF3.5 =< */
	filter:alpha(opacity=50); /*IE 6,7,8 */
//	background-color:rgba(255,255,255,0.5);
//	filter:grayscale(0.5);
}